a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #0066FF;
	text-decoration: none;
}

a.barlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}
a.barlink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}
a.bluelink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #006699;
}
a.bluelink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #006699;
	text-decoration: underline;
}
a.sidelink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #006699;
	text-decoration: none;
}
a.sidelink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #0066FF;
	text-decoration: underline overline;
}
a.insidelink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #990033;
	text-decoration: none;
}
a.insidelink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #0066FF;
	text-decoration: underline overline;
}select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #990033;

}
.onepxtable {
	border: 1px solid #9ab9ee;
}
a.biglink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #0066FF;
	text-decoration: none;
}
a.biglink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #0066FF;
	text-decoration: underline overline;
}
topmenutext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #999999;
	text-decoration: none;
}

bottommenutext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #999999;
	text-decoration: none;
}

a.bottomlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}
a.bottomlink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}

.outertable {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: outset;
	border-left-style: solid;
	border-top-color: #9ab9ee;
	border-right-color: #9ab9ee;
	border-bottom-color: #9ab9ee;
	border-left-color: #9ab9ee;
}
.sideheadingtd {
	background-color: #BCC0BF;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: capitalize;
	color: #006699;

}
inputbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #006699;
	text-decoration: none;
}input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #990033;
}
textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #990033;
}
body {
}
font.main {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
