<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Submit Link Form - Replace a classic submit button by a text or image link!</title>
</head>
<body>
<form ACTION="product_desc.php" METHOD="post" NAME="yourform" TARGET="_blank">

Submit Link Form - Replace a classic submit button by a text or image link!<br>

<INPUT TYPE="text" NAME="mytextdemo" SIZE="20"> 
(put a texte here and submit form to see.)
<br>

>>>> <A HREF="javascript:document.yourform.submit()">Valider</A></form>

</body>
</html>