ul#css3menu1,ul#css3menu1 ul{
 margin:0;list-style:none;padding:0;background-color:#dedede;border-width:1px;border-style:solid;border-color:#5f5f5f;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
ul#css3menu1 ul{
 display:none;position:absolute;left:100%;top:0;-moz-box-shadow:3.5px 3.5px 5px #000000;-webkit-box-shadow:3.5px 3.5px 5px #000000;box-shadow:3.5px 3.5px 5px #000000;padding:0 10px 10px;background-color:#ffffff;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;border-color:#d4d4d4;}
ul#css3menu1 li:hover>*{
 display:block;}
ul#css3menu1 li:hover{
 position:relative;}
ul#css3menu1 ul ul{
 position:absolute;left:100%;top:0;}
ul#css3menu1{
 display:block;font-size:0;float:left;}
ul#css3menu1 li{
 display:block;white-space:nowrap;font-size:0;}
ul#css3menu1>li,ul#css3menu1 li{
 margin:0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
 outline-style:none;}
ul#css3menu1 a,ul#css3menu1 a.pressed{
 display:block;vertical-align:middle;text-align:left;text-decoration:none;font-weight:bold;font-style:none;font-size:14px;font-family:Trebuchet MS;color:#000000;text-shadow:#FFF 0 0 1px;cursor:pointer;}
ul#css3menu1 ul li{
 float:none;margin:10px 0 0;}
ul#css3menu1 ul a{
 text-align:left;padding:4px;background-color:#ffffff;background-image:none;border-width:0;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font-weight:none;font-style:none;font-size:13px;font-family:Tahoma;color:#000000;text-decoration:none;}
ul#css3menu1 li:hover>a{
 background-color:#f8ac00;border-color:#C0C0C0;border-style:solid;font-weight:bold;font-style:none;font-size:14px;font-family:Trebuchet MS;color:#000000;text-decoration:none;text-shadow:#FFF 0 0 1px;background-position:0 100px;}
ul#css3menu1 img{
 border:none;vertical-align:middle;margin-right:10px;}
ul#css3menu1 img.over{
 display:none;}
ul#css3menu1 li:hover > a img.def{
 display:none;}
ul#css3menu1 li:hover > a img.over{
 display:inline;}
ul#css3menu1 li a.pressed img.over{
 display:inline;}
ul#css3menu1 li a.pressed img.def{
 display:none;}
ul#css3menu1 span{
 display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#css3menu1 ul span{
 background-image:url("../../img/theme_menu_arrowsub_1.png");padding-right:28px;}
ul#css3menu1 a{
 padding:10px;background-color:#c1c1c1;background-image:url("../../img/theme_menu_mainbk_1.png");background-repeat:repeat;background-position:0 0;border-width:100%;border-style:solid;border-color:#C0C0C0;color:#000000;text-decoration:none;text-shadow:#FFF 0 0 1px;}
ul#css3menu1 li:hover>a,ul#css3menu1 li>a.pressed{
 background-color:#f8ac00;background-image:url("../../img/theme_menu_mainbk_1.png");background-position:0 100px;border-style:solid;border-color:#C0C0C0;color:#000000;text-decoration:none;text-shadow:#FFF 0 0 1px;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li>a.pressed{
 background-color:#ffffff;background-image:none;font-weight:none;font-style:none;font-size:13px;font-family:Tahoma;color:#868686;text-decoration:none;}
ul#css3menu1 li.topfirst>a{
 border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px;-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;}
ul#css3menu1 li.toplast>a{
 border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0;-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;}
.scdisabledmain{
 color:#808080 !important;
}
.scdisabledsub{
 color:#808080 !important;
}
.scMenuHTableCssAlt{
 background-color:#c1c1c1;background-image:url("../../img/theme_menu_mainbk_1.png");background-repeat:repeat;background-position:0 0;
}
