ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;background-color:#3d3e3f;border-width:1px;border-style:solid;border-color:#515253 #3D3E3F #2B2B2C #3D3E3F;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;padding:0 11px 5px;}
ul#css3menu1 ul{
	display:none;position:absolute;left:0;top:97%;-moz-box-shadow:3.5px 3.5px 3px #333;-webkit-box-shadow:3.5px 3.5px 3px #333;box-shadow:3.5px 3.5px 3px #333;padding:6px 5px 11px;background-color:#429adb;border-width:1px;border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;-webkit-border-radius:0;-webkit-border-bottom-right-radius:6px;-webkit-border-bottom-left-radius:6px;border-style:solid;border-color:#429ADB #357BAF #357BAF #357BAF;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity:1;filter:alpha(opacity=100);}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li:hover{
	position:relative;}
ul#css3menu1 ul ul{
	position:absolute;left:100%;top:-1px;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;opacity:1;}
ul#css3menu1{
	padding:5px 5px 5px 0;display:block;font-size:0;float:left;}
ul#css3menu1 li{
	display:block;white-space:nowrap;font-size:0;float:left;margin:5px 0 0;}
ul#css3menu1>li,ul#css3menu1 li{
	margin:0 0 0 5px;}
ul#css3menu1 ul>li{
	margin:5px 0 0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a,ul#css3menu1 a.pressed{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font-family:"Avenir 85 Heavy",Arial,Helvetica;font-size:14px;font-weight:none;font-style:none;color:#ffffff;text-shadow:#1E4460 0px -1px 1px;cursor:pointer;}
ul#css3menu1 ul li{
	float:none;margin:5px 0 0;}
ul#css3menu1 ul a{
	text-align:left;padding:7px;background-color:#429adb;background-image:-o-linear-gradient(-90deg,rgba(84,162,218,1),rgba(65,151,214,0)); background-image:-moz-linear-gradient(-90deg,rgba(84,162,218,1),rgba(65,151,214,0));  background-image:-webkit-gradient(linear,50% 0%,50% 100%,from(rgba(84,162,218,1)),to(rgba(65,151,214,0)));background-position:0 0;border-width:1px;border-style:solid;border-color:#7BB8E6 #357BAF #357BAF #7BB8E6;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font-family:"Avenir 85 Heavy",Arial,Helvetica;font-size:13px;font-weight:none;font-style:none;color:#ffffff;text-decoration:none;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#FF54A2DA,endColorstr=#004197D6)}
ul#css3menu1 li:hover>a{
	background-color:#429adb;border-color:#86BEE8 #5EA9E0 #3D3E3F #5EA9E0;border-style:solid;font-family:"Avenir 85 Heavy",Arial,Helvetica;font-size:14px;font-weight:none;font-style:none;color:#ffffff;text-decoration:none;text-shadow:#1E4460 0px -1px 1px;background-image:-o-linear-gradient(-90deg,rgba(112,179,228,1),rgba(66,154,219,0)); background-image:-moz-linear-gradient(-90deg,rgba(112,179,228,1),rgba(66,154,219,0));  background-image:-webkit-gradient(linear,50% 0%,50% 100%,from(rgba(112,179,228,1)),to(rgba(66,154,219,0)));background-position:0 100%;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#FF70B3E4,endColorstr=#00429ADB)}
ul#css3menu1 img{
	border:none;vertical-align:middle;margin-right:16px;}
ul#css3menu1 img.over{
	display:none;}
ul#css3menu1 li:hover > a img.def{
	display:none;}
ul#css3menu1 li:hover > a img.over{
	display:inline;}
ul#css3menu1 li a.pressed img.over{
	display:inline;}
ul#css3menu1 li a.pressed img.def{
	display:none;}
ul#css3menu1 span{
	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#css3menu1 ul span{
	background-image:url("../../img/theme_menu_arrowsub_3.png");padding-right:40px;}
ul#css3menu1 a{
	padding:16px;background-color:#3d3e3f;background-image:-o-linear-gradient(-90deg,rgba(255,255,255,0),rgba(0,0,0,0.03)); background-image:-moz-linear-gradient(-90deg,rgba(255,255,255,0),rgba(0,0,0,0.03));  background-image:-webkit-gradient(linear,50% 0%,50% 100%,from(rgba(255,255,255,0)),to(rgba(0,0,0,0.03)));background-repeat:repeat;background-position:0 0;border-width:1px;border-style:solid;border-color:#3D3E3F;color:#ffffff;text-decoration:none;text-shadow:#1E4460 0px -1px 1px;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#00FFFFFF,endColorstr=#08000000)}
ul#css3menu1 li:hover>a,ul#css3menu1 li>a.pressed{
	background-color:#429adb;background-image:-o-linear-gradient(-90deg,rgba(112,179,228,1),rgba(66,154,219,0)); background-image:-moz-linear-gradient(-90deg,rgba(112,179,228,1),rgba(66,154,219,0));  background-image:-webkit-gradient(linear,50% 0%,50% 100%,from(rgba(112,179,228,1)),to(rgba(66,154,219,0)));background-position:0 100%;border-style:solid;border-color:#86BEE8 #5EA9E0 #3D3E3F #5EA9E0;color:#ffffff;text-decoration:none;text-shadow:#1E4460 0px -1px 1px;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#FF70B3E4,endColorstr=#00429ADB)}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li>a.pressed{
	background-color:#3983bb;background-image:-o-linear-gradient(-90deg,rgba(63,146,208,1),rgba(57,131,187,0)); background-image:-moz-linear-gradient(-90deg,rgba(63,146,208,1),rgba(57,131,187,0));  background-image:-webkit-gradient(linear,50% 0%,50% 100%,from(rgba(63,146,208,1)),to(rgba(57,131,187,0)));background-position:0 100%;border-style:solid;border-color:#357BAF #7BB8E6 #7BB8E6 #357BAF;font-family:"Avenir 85 Heavy",Arial,Helvetica;font-size:13px;font-weight:none;font-style:none;color:#ffffff;text-decoration:none;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#FF3F92D0,endColorstr=#003983BB)}
ul#css3menu1 li.topmenu>a{
	height:11px;line-height:11px;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;}
ul#css3menu1 li.topmenu:hover>a,ul#css3menu1 li.topmenu>a.pressed{
	line-height:11px;}
.scdisabledmain{
 color:#666666 !important;
}
.scdisabledsub{
 color:#999999 !important;
}
.scMenuHTableCssAlt{
 background-color:#3d3e3f;background-image:-o-linear-gradient(-90deg,rgba(255,255,255,0),rgba(0,0,0,0.03)); background-image:-moz-linear-gradient(-90deg,rgba(255,255,255,0),rgba(0,0,0,0.03));  background-image:-webkit-gradient(linear,50% 0%,50% 100%,from(rgba(255,255,255,0)),to(rgba(0,0,0,0.03)));background-repeat:repeat;background-position:0 0;
}
