ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;background-color:#888782;border-width:0;border-style:solid;border-color:;}
ul#css3menu1 ul{
	display:none;position:absolute;left:0;top:100%;padding:10px 1px 11px;background-color:#e9e8df;border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;-webkit-border-radius:0;-webkit-border-top-right-radius:6px;-webkit-border-bottom-right-radius:6px;-webkit-border-bottom-left-radius:6px;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity:1;filter:alpha(opacity=100);}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li:hover{
	position:relative;}
ul#css3menu1 ul ul{
	position:absolute;left:100%;top:0;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;opacity:1;}
ul#css3menu1{
	padding:10px 10px 10px 0;display:block;font-size:0;float:left;}
ul#css3menu1 li{
	display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu1>li,ul#css3menu1 li{
	margin:0 0 0 10px;}
ul#css3menu1 ul>li{
	margin:10px 0 0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a,ul#css3menu1 a.pressed{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font-family:Arial,Helvetica;font-size:14px;font-weight:none;font-style:none;color:#f2f0e4;cursor:default;}
ul#css3menu1 ul li{
	float:none;margin:1px 0 0;}
ul#css3menu1 ul a{
	text-align:left;padding:5px 15px;background-color:#e9e8df;border-width:1px 0 1px 0;border-style:solid;border-color:#DCDBD3 #E9E8DF #FFFFFF #E9E8DF;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font-family:Arial,Helvetica;font-size:12px;font-weight:none;font-style:none;color:#7e7a72;text-decoration:none;text-shadow:#FFFFFF 0px 1px 1px;}
ul#css3menu1 li:hover>a{
	background-color:#f5f4eb;border-style:none;font-family:Arial,Helvetica;font-size:14px;font-weight:none;font-style:none;color:#e99d01;text-decoration:none;}
ul#css3menu1 img{
	border:none;vertical-align:middle;margin-right:8px;}
ul#css3menu1 img.over{
	display:none;}
ul#css3menu1 li:hover > a img.def{
	display:none;}
ul#css3menu1 li:hover > a img.over{
	display:inline;}
ul#css3menu1 li a.pressed img.over{
	display:inline;}
ul#css3menu1 li a.pressed img.def{
	display:none;}
ul#css3menu1 span{
	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#css3menu1 ul span{
	background-image:url("../../img/theme_menu_arrowsub_4.png");padding-right:24px;}
ul#css3menu1 a{
	padding:8px 18px;background-color:#888782;background-repeat:repeat;border-width:0px;border-style:none;border-color:;color:#f2f0e4;text-decoration:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li>a.pressed{
	background-color:#f5f4eb;border-style:none;color:#e99d01;text-decoration:none;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li>a.pressed{
	background-color:#dfded5;border-style:solid;border-color:#D2D2C8 #E9E8DF #FFFFFF #E9E8DF;font-family:Arial,Helvetica;font-size:12px;font-weight:none;font-style:none;color:#494843;text-decoration:none;text-shadow:#FFFFFF 0px 1px 1px;}
ul#css3menu1.topmenu{
	border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;}
ul#css3menu1 li.topmenu>a{
	height:16px;line-height:16px;border-radius:9px;-moz-border-radius:9px;-webkit-border-radius:9px;text-shadow:#72716D 0px 1px 1px;}
ul#css3menu1 li.topmenu:hover>a,ul#css3menu1 li.topmenu>a.pressed{
	line-height:16px;text-shadow:#FFFFFF 0px 1px 1px;}
ul#css3menu1 li.toproot>a{
	height:16px;line-height:16px;border-radius:6px 6px 0 0;-moz-border-radius:6px 6px 0 0;-webkit-border-radius:6px;-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;text-shadow:#72716D 0px 1px 1px;}
ul#css3menu1 li.toproot:hover>a,ul#css3menu1 li.toproot>a.pressed{
	line-height:16px;text-shadow:#FFFFFF 0px 1px 1px;}
.scdisabledmain{
 color:#666666 !important;
}
.scdisabledsub{
 color:#bbbbbb !important;
}
.scMenuHTableCssAlt{
 background-color:#888782;background-repeat:repeat;
}
