ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;background-color:#878b8e;border-width:0;border-style:solid;border-color:;}
ul#css3menu1 ul{
	display:none;position:absolute;left:0;top:80%;padding:0 9px 9px;background-color:#f6f5f6;border-width:9px;border-radius:0 11px 11px 11px;-moz-border-radius:0 11px 11px 11px;-webkit-border-radius:0;-webkit-border-top-right-radius:11px;-webkit-border-bottom-right-radius:11px;-webkit-border-bottom-left-radius:11px;border-style:solid;border-color:#307cb2;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity:1;filter:alpha(opacity=100);}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li:hover{
	position:relative;}
ul#css3menu1 ul ul{
	position:absolute;left:100%;top:-6px;border-radius:11px;-moz-border-radius:11px;-webkit-border-radius:11px;opacity:1;}
ul#css3menu1{
	padding:5px 5px 5px 0;display:block;font-size:0;float:left;}
ul#css3menu1 li{
	display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu1>li,ul#css3menu1 li{
	margin:0 0 0 5px;}
ul#css3menu1 ul>li{
	margin:5px 0 0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a,ul#css3menu1 a.pressed{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font-family:Arial,Helvetica;font-size:14px;font-weight:bold;font-style:none;color:#ffffff;cursor:pointer;}
ul#css3menu1 ul li{
	float:none;margin:9px 0 0;}
ul#css3menu1 ul a{
	text-align:left;padding:1px 3px;background-color:#f6f5f6;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font-family:Arial,Helvetica;font-size:11px;font-weight:none;font-style:none;color:#2c75a3;text-decoration:none;}
ul#css3menu1 li:hover>a{
	background-color:#878b8e;border-style:none;font-family:Arial,Helvetica;font-size:14px;font-weight:bold;font-style:none;color:#baddf6;text-decoration:none;}
ul#css3menu1 img{
	border:none;vertical-align:middle;margin-right:12px;}
ul#css3menu1 img.over{
	display:none;}
ul#css3menu1 li:hover > a img.def{
	display:none;}
ul#css3menu1 li:hover > a img.over{
	display:inline;}
ul#css3menu1 li a.pressed img.over{
	display:inline;}
ul#css3menu1 li a.pressed img.def{
	display:none;}
ul#css3menu1 span{
	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#css3menu1 ul span{
	background-image:url("../../img/theme_menu_arrowsub_5.png");padding-right:32px;}
ul#css3menu1 a{
	padding:12px 15px 12px 15px;background-color:#878b8e;background-repeat:repeat;border-width:0px;border-style:none;border-color:;color:#ffffff;text-decoration:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li>a.pressed{
	background-color:#878b8e;border-style:none;color:#baddf6;text-decoration:none;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li>a.pressed{
	background-color:#f6f5f6;font-family:Arial,Helvetica;font-size:11px;font-weight:none;font-style:none;color:#2c75a3;text-decoration:underline;}
ul#css3menu1.topmenu{
	border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;}
ul#css3menu1 li.topmenu>a{
	height:16px;line-height:16px;border-radius:9px;-moz-border-radius:9px;-webkit-border-radius:9px;}
ul#css3menu1 li.topmenu:hover>a,ul#css3menu1 li.topmenu>a.pressed{
	line-height:16px;}
ul#css3menu1 li.toproot>a{
	height:16px;line-height:16px;background-color:;border-radius:9px 9px 0 0;-moz-border-radius:9px 9px 0 0;-webkit-border-radius:9px;-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;}
ul#css3menu1 li.toproot:hover>a,ul#css3menu1 li.toproot>a.pressed{
	line-height:16px;background-color:#307cb2;}
.scdisabledmain{
 color:#666666 !important;
}
.scdisabledsub{
 color:#aaaacc !important;
}
.scMenuHTableCssAlt{
 background-color:#878b8e;background-repeat:repeat;
}
