ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;padding:0 6px;background-color:#ffffff;border-width:1px;border-style:solid;border-color:#f7f7f7 #eaeaea #d2d2d2 #eaeaea;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;}
ul#css3menu1 ul{
	display:none;position:absolute;left:0;top:97%;-moz-box-shadow:4.9px 4.9px 3px #333;-webkit-box-shadow:4.9px 4.9px 3px #333;box-shadow:4.9px 4.9px 3px #333;padding:6px 0;background-color:#0079d9;border-width:0;border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;-webkit-border-radius:0;-webkit-border-bottom-right-radius:6px;-webkit-border-bottom-left-radius:6px;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity:1;filter:alpha(opacity=100);}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li:hover{
	position:relative;}
ul#css3menu1 ul ul{
	position:absolute;left:100%;top:-1px;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;opacity:1;}
ul#css3menu1{
	display:block;font-size:0;float:left;}
ul#css3menu1 li{
	display:block;white-space:nowrap;font-size:0;float:left;margin:0;}
ul#css3menu1>li,ul#css3menu1 li{
	margin:0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a,ul#css3menu1 a.pressed{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font-family:"Avenir 85 Heavy",Arial,Helvetica;font-size:12px;font-weight:none;font-style:none;color:#5b5c5c;cursor:pointer;}
ul#css3menu1 ul li{
	float:none;margin:0;}
ul#css3menu1 ul a{
	text-align:left;padding:4px;background-color:#0079d9;background-image:none;border-width:0;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font-family:"Avenir 85 Heavy",Arial,Helvetica;font-size:12px;font-weight:none;font-style:none;color:#ffffff;text-decoration:none;}
ul#css3menu1 li:hover>a{
	background-color:#0079d9;border-color:#C0C0C0;border-style:solid;font-family:"Avenir 85 Heavy",Arial,Helvetica;font-size:12px;font-weight:none;font-style:none;color:#ffffff;text-decoration:none;background-image:-o-linear-gradient(-90deg,rgba(109,183,255,1),rgba(0,121,217,0)); background-image:-moz-linear-gradient(-90deg,rgba(109,183,255,1),rgba(0,121,217,0));  background-image:-webkit-gradient(linear,50% 0%,50% 100%,from(rgba(109,183,255,1)),to(rgba(0,121,217,0)));background-position:0 100%;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#FF6DB7FF,endColorstr=#000079D9)}
ul#css3menu1 img{
	border:none;vertical-align:middle;margin-right:16px;}
ul#css3menu1 img.over{
	display:none;}
ul#css3menu1 li:hover > a img.def{
	display:none;}
ul#css3menu1 li:hover > a img.over{
	display:inline;}
ul#css3menu1 li a.pressed img.over{
	display:inline;}
ul#css3menu1 li a.pressed img.def{
	display:none;}
ul#css3menu1 span{
	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#css3menu1 ul span{
	background-image:url("../../img/theme_menu_arrowsub_6.png");padding-right:40px;}
ul#css3menu1 a{
	padding:16px;background-color:#ffffff;background-image:-o-linear-gradient(-90deg,rgba(255,255,255,0),rgba(0,0,0,0.03)); background-image:-moz-linear-gradient(-90deg,rgba(255,255,255,0),rgba(0,0,0,0.03));  background-image:-webkit-gradient(linear,50% 0%,50% 100%,from(rgba(255,255,255,0)),to(rgba(0,0,0,0.03)));background-repeat:repeat;background-position:0 0;border-width:0;border-style:solid;border-color:#C0C0C0;color:#5b5c5c;text-decoration:none;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#00FFFFFF,endColorstr=#08000000)}
ul#css3menu1 li:hover>a,ul#css3menu1 li>a.pressed{
	background-color:#0079d9;background-image:-o-linear-gradient(-90deg,rgba(109,183,255,1),rgba(0,121,217,0)); background-image:-moz-linear-gradient(-90deg,rgba(109,183,255,1),rgba(0,121,217,0));  background-image:-webkit-gradient(linear,50% 0%,50% 100%,from(rgba(109,183,255,1)),to(rgba(0,121,217,0)));background-position:0 100%;border-style:solid;border-color:#C0C0C0;color:#ffffff;text-decoration:none;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#FF6DB7FF,endColorstr=#000079D9)}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li>a.pressed{
	background-color:#ffffff;background-image:none;font-family:"Avenir 85 Heavy",Arial,Helvetica;font-size:12px;font-weight:none;font-style:none;color:#0079d9;text-decoration:none;}
ul#css3menu1 li.topmenu>a{
	border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;}
.scdisabledmain{
 color:#cccccc !important;
}
.scdisabledsub{
 color:#666666 !important;
}
.scMenuHTableCssAlt{
 background-color:#ffffff;background-image:-o-linear-gradient(-90deg,rgba(255,255,255,0),rgba(0,0,0,0.03)); background-image:-moz-linear-gradient(-90deg,rgba(255,255,255,0),rgba(0,0,0,0.03));  background-image:-webkit-gradient(linear,50% 0%,50% 100%,from(rgba(255,255,255,0)),to(rgba(0,0,0,0.03)));background-repeat:repeat;background-position:0 0;
}
