ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;background-color:#000;background-image:url("../../img/theme_menu_mainbk_2.png");background-repeat:repeat;border-width:0px;border-style:solid;border-color:#999999;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
ul#css3menu1 ul{
	display:none;position:absolute;left:0;top:100%;-moz-box-shadow:0.7px 0.7px 1px #777777;-webkit-box-shadow:0.7px 0.7px 1px #777777;box-shadow:0.7px 0.7px 1px #777777;padding:0 9px 9px;background-color:#333333;background-image:none;border-width:1px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;border-style:solid;border-color:#5A5E60;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity:1;filter:alpha(opacity=100);}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li:hover{
	position:relative;}
ul#css3menu1 ul ul{
	position:absolute;left:100%;top:0;opacity:1;}
ul#css3menu1{
	padding:1px 1px 1px 0;display:block;font-size:0;float:left;}
ul#css3menu1 li{
	display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu1>li,ul#css3menu1 li{
	margin:0 0 0 1px;}
ul#css3menu1 ul>li{
margin:1px 0 0;}

ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a,ul#css3menu1 a.pressed{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font-weight:bold;font-style:none;font-size:12px;font-family:Arial;color:#cccccc;cursor:default;}
ul#css3menu1 ul li{
	float:none;margin:9px 0 0;}
ul#css3menu1 ul a{
	text-align:left;padding:8px 0 0 0;background-color:#333333;background-image:none;border-width:1px 0 0 0;border-style:solid;border-color:#262626;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font-weight:none;font-style:none;font-size:12px;font-family:Arial;color:#cccccc;text-decoration:none;}
ul#css3menu1 li:hover>a{
	background-color:#00c4ff;border-style:none;font-weight:bold;font-style:none;font-size:12px;font-family:Arial;color:#ffffff;text-decoration:none;background-image:url("../../img/theme_menu_mainbk_2.png");background-position:0 100px;}
ul#css3menu1 img{
	border:none;vertical-align:middle;margin-right:10px;}
ul#css3menu1 img.over{
	display:none;}
ul#css3menu1 li:hover > a img.def{
	display:none;}
ul#css3menu1 li:hover > a img.over{
	display:inline;}
ul#css3menu1 li a.pressed img.over{
	display:inline;}
ul#css3menu1 li a.pressed img.def{
	display:none;}
ul#css3menu1 span{
	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#css3menu1 ul span{
	background-image:url("../../img/theme_menu_arrowsub_2.gif");padding-right:27px;}
ul#css3menu1 a{
	padding:10px;background-color:#333333;background-image:url("../../img/theme_menu_mainbk_2.png");background-repeat:repeat;background-position:0 200px;border-width:0px;border-style:none;border-color:;color:#cccccc;text-decoration:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li>a.pressed{
	background-color:#00c4ff;background-image:url("../../img/theme_menu_mainbk_2.png");background-position:0 100px;border-style:none;color:#ffffff;text-decoration:none;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li>a.pressed{
	background-color:#333333;background-image:none;border-style:solid;border-color:#262626;font-weight:none;font-style:none;font-size:12px;font-family:Arial;color:#1f80ae;text-decoration:none;}
ul#css3menu1 li.topfirst>a{
	height:16px;line-height:16px;border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;-webkit-border-radius:4px;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:0;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:0;text-shadow:#000000 0px -1px 1px;}
ul#css3menu1 li.topfirst:hover>a,ul#css3menu1 li.topfirst>a.pressed{
	line-height:16px;text-shadow:#3d3d3d 0px -1px 1px;}
ul#css3menu1 li.topmenu>a{
	height:16px;line-height:16px;text-shadow:#000000 0px -1px 1px;}
ul#css3menu1 li.topmenu:hover>a,ul#css3menu1 li.topmenu>a.pressed{
	line-height:16px;text-shadow:#3d3d3d 0px -1px 1px;}
ul#css3menu1 li.toplast>a{
	height:16px;line-height:16px;border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;-webkit-border-radius:0;-webkit-border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;-webkit-border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;text-shadow:#000000 0px -1px 1px;}
ul#css3menu1 li.toplast:hover>a,ul#css3menu1 li.toplast>a.pressed{
	line-height:16px;text-shadow:#3d3d3d 0px -1px 1px;}
ul#css3menu1 ._>li>a{
	padding:0;}
ul#css3menu1 li.subfirst>a{
	border-width:0;border-style:none;padding:0;}
ul#css3menu1 li.subfirst:hover>a,ul#css3menu1 li.subfirst>a.pressed{
	border-style:none;}
.scdisabledmain{
 color:#666666 !important;
}
.scdisabledsub{
 color:#666666 !important;
}
.scMenuHTableCssAlt{
 background-color:#333333;background-image:url("../../img/theme_menu_mainbk_2.png");background-repeat:repeat;background-position:0 200px;
}
