ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;border-width:1px;border-style:solid;border-color:#454545;border-radius:9px;-moz-border-radius:9px;-webkit-border-radius:9px;}
ul#css3menu1 ul{
	display:none;position:absolute;left:0;top:100%;padding:0 6px 6px;background-color:#ffffff;border-width:4px;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;border-color:#cecece;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity:1;filter:alpha(opacity=100);}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li:hover{
	position:relative;}
ul#css3menu1 ul ul{
	position:absolute;left:100%;top:0;opacity:1;}
ul#css3menu1{
	padding:5px 5px 5px 0;display:block;font-size:0;float:left;}
ul#css3menu1 li{
	display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu1>li,ul#css3menu1 li{
	margin:0 0 0 5px;}
ul#css3menu1 ul>li{
	margin:5px 0 0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a,ul#css3menu1 a.pressed{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font-family:Trebuchet MS,sans-serif;font-size:14px;font-weight:bold;font-style:none;color:#181818;text-shadow:#FFF 0 1px 1px;cursor:pointer;}
ul#css3menu1 ul li{
	float:none;margin:6px 0 0;}
ul#css3menu1 ul a{
	text-align:left;padding:4px;background-color:#ffffff;background-image:none;border-width:0 0 1px 0;border-style:solid;border-color:#EFEFEF;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font-family:Trebuchet MS,sans-serif;font-size:11px;font-weight:none;font-style:none;color:#000000;text-decoration:none;text-shadow:#FFF 0 0 0;}
ul#css3menu1 li:hover>a{
	background-color:#4ea7f4;border-style:none;font-family:Trebuchet MS,sans-serif;font-size:14px;font-weight:bold;font-style:none;color:#ffffff;text-decoration:none;text-shadow:#181818 0 0px 0px;}
ul#css3menu1 img{
	border:none;vertical-align:middle;margin-right:8px;}
ul#css3menu1 img.over{
	display:none;}
ul#css3menu1 li:hover > a img.def{
	display:none;}
ul#css3menu1 li:hover > a img.over{
	display:inline;}
ul#css3menu1 li a.pressed img.over{
	display:inline;}
ul#css3menu1 li a.pressed img.def{
	display:none;}
ul#css3menu1 span{
	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#css3menu1 ul span{
	background-image:url("../../img/theme_menu_arrowsub_7.png");padding-right:20px;}
ul#css3menu1 a{
	padding:8px 18px;background-repeat:repeat;border-width:0px;border-style:none;border-color:;color:#181818;text-decoration:none;text-shadow:#FFF 0 1px 1px;}
ul#css3menu1 li:hover>a,ul#css3menu1 li>a.pressed{
	background-color:#4ea7f4;border-style:none;color:#ffffff;text-decoration:none;text-shadow:#181818 0 0px 0px;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li>a.pressed{
	background-color:#ffffff;background-image:none;border-style:solid;border-color:#EFEFEF;font-family:Trebuchet MS,sans-serif;font-size:11px;font-weight:none;font-style:none;color:#168ae7;text-decoration:none;text-shadow:#FFF 0 0 0;}
ul#css3menu1.topmenu{
	background-image:url("../../img/theme_menu_mainbk_3.png");}
ul#css3menu1 li.topmenu>a{
	height:14px;line-height:14px;background-color:transparent;border-radius:11px;-moz-border-radius:11px;-webkit-border-radius:11px;}
ul#css3menu1 li.topmenu:hover>a,ul#css3menu1 li.topmenu>a.pressed{
	line-height:14px;background-color:#4ea7f4;}
.scdisabledmain{
 color:#aaaaaa !important;
}
.scdisabledsub{
 color:#aaaaaa !important;
}
.scMenuHTableCssAlt{
 background-repeat:repeat;
}
