ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;background-color:#3e3e3e;border-width:0;border-style:solid;border-color:;}
ul#css3menu1 ul{
	display:none;position:absolute;left:0;top:100%;padding:0 5px 5px;background-color:#3ec2c5;border-radius:0 5px 5px 5px;-moz-border-radius:0 5px 5px 5px;-webkit-border-radius:0;-webkit-border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity:1;filter:alpha(opacity=100);}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li:hover{
	position:relative;}
ul#css3menu1 ul ul{
	position:absolute;left:100%;top:0;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;opacity:1;}
ul#css3menu1{
	padding:5px 5px 5px 0;display:block;font-size:0;float:left;}
ul#css3menu1 li{
	display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu1>li,ul#css3menu1 li{
	margin:0 0 0 5px;}
ul#css3menu1 ul>li{
	margin:5px 0 0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a,ul#css3menu1 a.pressed{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font-family:"Trebuchet MS",Georgia,Times,sans-serif;font-size:15px;font-weight:bold;font-style:none;color:#3ec2c5;text-shadow:#232323 0px -1px 1px;cursor:pointer;}
ul#css3menu1 ul li{
	float:none;}
ul#css3menu1 ul a{
	text-align:left;padding:3px 3px 3px 15px;background-color:#3ec2c5;background-image:none;border-width:1px 0 1px 0;border-style:solid;border-color:#3EC2C5;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font-family:"Trebuchet MS",sans-serif;font-size:13px;font-weight:none;font-style:none;color:#155c5d;text-decoration:none;text-shadow:#5AD7D9 0px -1px 1px;}
ul#css3menu1 li:hover>a{
	background-color:#3ec2c5;border-color:#5AD7D9;border-style:solid;font-family:"Trebuchet MS",Georgia,Times,sans-serif;font-size:15px;font-weight:bold;font-style:none;color:#155c5d;text-decoration:none;text-shadow:#5AD7D9 0px -1px 1px;background-image:url("../../img/theme_menu_mainbk_4.png");}
ul#css3menu1 img{
	border:none;vertical-align:middle;margin-right:9px;}
ul#css3menu1 img.over{
	display:none;}
ul#css3menu1 li:hover > a img.def{
	display:none;}
ul#css3menu1 li:hover > a img.over{
	display:inline;}
ul#css3menu1 li a.pressed img.over{
	display:inline;}
ul#css3menu1 li a.pressed img.def{
	display:none;}
ul#css3menu1 span{
	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#css3menu1 ul span{
	background-image:url("../../img/theme_menu_arrowsub_8.png");padding-right:26px;}
ul#css3menu1 a{
	padding:9px 10px 9px 15px;background-color:#3e3e3e;background-image:url("../../img/theme_menu_mainbk_4.png");background-repeat:no-repeat;background-position:0 50%;border-width:1px 1px 0 1px;border-style:solid;border-color:#3E3E3E;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;color:#3ec2c5;text-decoration:none;text-shadow:#232323 0px -1px 1px;}
ul#css3menu1 li:hover>a,ul#css3menu1 li>a.pressed{
	background-color:#3ec2c5;background-image:url("../../img/theme_menu_mainbk_4.png");border-style:solid;border-color:#5AD7D9;color:#155c5d;text-decoration:none;text-shadow:#5AD7D9 0px -1px 1px;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li>a.pressed{
	background-color:#309fa1;background-image:url("../../img/theme_menu_mainbk_4.png");border-style:solid;border-color:#278284;font-family:"Trebuchet MS",sans-serif;font-size:13px;font-weight:none;font-style:none;color:#e8ffff;text-decoration:none;text-shadow:#232323 0px -1px 1px;}
ul#css3menu1.topmenu{
	border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;}
ul#css3menu1 li.topmenu>a{
	height:10px;line-height:10px;border-radius:9px;-moz-border-radius:9px;-webkit-border-radius:9px;}
ul#css3menu1 li.topmenu:hover>a,ul#css3menu1 li.topmenu>a.pressed{
	line-height:10px;}
ul#css3menu1 li.toproot>a{
	height:10px;line-height:10px;border-radius:9px 9px 0 0;-moz-border-radius:9px 9px 0 0;-webkit-border-radius:9px;-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;}
ul#css3menu1 li.toproot:hover>a,ul#css3menu1 li.toproot>a.pressed{
	line-height:10px;}
.scdisabledmain{
 color:#225566 !important;
}
.scdisabledsub{
 color:#44aabb !important;
}
.scMenuHTableCssAlt{
 background-color:#3e3e3e;background-image:url("../../img/theme_menu_mainbk_4.png");background-repeat:no-repeat;background-position:0 50%;
}
