ul#css3menu1,ul#css3menu1 ul{
 margin:0;list-style:none;padding:0;background-color:#5B6F2A;background-image:url("../../img/scriptcase__NM__BgMenuGreen.png");}
ul#css3menu1 ul{
 display:none;position:absolute;left:100%;top:0;-moz-box-shadow:3.5px 3.5px 5px #000000;-webkit-box-shadow:3.5px 3.5px 5px #000000;box-shadow:3.5px 3.5px 5px #000000;background-color:#FFFFFF;}
ul#css3menu1 li:hover>*{
 display:block;}
ul#css3menu1 li:hover{
 position:relative;}
ul#css3menu1 ul ul{
 position:absolute;left:100%;top:0;}
ul#css3menu1{
 display:block;font-size:0;float:left;}
ul#css3menu1 li{
 display:block;white-space:nowrap;font-size:0;}
ul#css3menu1>li,ul#css3menu1 li{
 margin:0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
 outline-style:none;}
ul#css3menu1 a,ul#css3menu1 a.pressed{
 display:block;vertical-align:middle;text-align:left;text-decoration:none;font-weight:none;font-style:none;font-size:12px;font-family:Arial, Arial, sans-serif;color:#f4f4f4;text-shadow:#FFF 0 0 1px;cursor:pointer;}
ul#css3menu1 ul li{
 float:none;padding-left: 16px;}
ul#css3menu1 ul a{
 text-align:left;padding:4px;background-color:#FFFFFF;background-image:none;border-width:0;font-style:none;font-size:12px;font-family:Arial, Arial, sans-serif;color:#648c03;text-decoration:none;}
ul#css3menu1 li:hover>a{
 background-color:#FFFFFF;border-color:#C0C0C0;border-style:solid;font-weight:none;font-style:none;font-size:12px;font-family:Arial, Arial, sans-serif;color:#648c03;text-decoration:none;text-shadow:#FFF 0 0 1px;}
ul#css3menu1 img{
 border:none;vertical-align:middle;margin-right:10px;}
ul#css3menu1 img.over{
 display:none;}
ul#css3menu1 li:hover > a img.def{
 display:none;}
ul#css3menu1 li:hover > a img.over{
 display:inline;}
ul#css3menu1 li a.pressed img.over{
 display:inline;}
ul#css3menu1 li a.pressed img.def{
 display:none;}
ul#css3menu1 span{
 display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;background-image:url("../../img/arrow_in_new.gif");padding-right:28px;}
ul#css3menu1 ul span{
 background-image:url("../../img/arrow_out_new.gif");padding-right:28px;}
ul#css3menu1 a{
 padding:6px 10px;border-width:100%;/*border-style:solid;border-color:#C0C0C0;*/color:#f4f4f4;text-decoration:none;text-shadow:#FFF 0 0 1px;}
ul#css3menu1 li:hover>a,ul#css3menu1 li>a.pressed{
 background-color:#FFFFFF;color:#648c03;text-decoration:none;text-shadow:#FFF 0 0 1px;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li>a.pressed{
 background-color:#F3F7FB;background-image:none;font-style:none;font-size:12px;font-family:Arial, Arial, sans-serif;color:#333333;text-decoration:none;}
ul#css3menu1 li.topfirst>a{
 }
ul#css3menu1 li.toplast>a{
 }
.scdisabledmain{
 color:#ffffff !important;
}
.scdisabledsub{
 color:#a4cc83 !important;
}
.scMenuHTableCssAlt{
 background-image:url("../../img/scriptcase__NM__BgMenuGreen.png");background-color:#5B6F2A;background-image:url("../../img/scriptcase__NM__BgMenuGreen.png");
}
