ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;border-width:0;border-style:solid;border-color:;}
ul#css3menu1 ul{
	display:none;position:absolute;left:0;top:100%;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity:1;filter:alpha(opacity=100);padding:0;background-color:#0d0d0d;border-radius:0 7px 7px 7px;-moz-border-radius:0 7px 7px 7px;-webkit-border-radius:0;-webkit-border-top-right-radius:7px;-webkit-border-bottom-right-radius:7px;-webkit-border-bottom-left-radius:7px;}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li:hover{
	position:relative;}
ul#css3menu1 ul ul{
	position:absolute;left:100%;top:0;opacity:1;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;}
ul#css3menu1{
	padding:5px 5px 5px 0;display:block;font-size:0;float:left;}
ul#css3menu1 li{
	display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu1>li,ul#css3menu1 li{
	margin:0 0 0 5px;}
ul#css3menu1 ul>li{
	margin:5px 0 0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a,ul#css3menu1 a.pressed{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font-family:Calibri,"Trebuchet MS",Georgia,Times,sans-serif;font-size:18px;font-weight:none;font-style:none;color:#b3b3b3;text-shadow:1px 1px 1px #000000;cursor:pointer;}
ul#css3menu1 ul li{
	float:none;margin:0;}
ul#css3menu1 ul a{
	text-align:left;padding:9px 10px 9px 32px;background-color:#0d0d0d;background-image:url("../../img/theme_menu_arrowsub_9.png");border-width:0 0 1px 0;border-style:solid;border-color:#2a2a2a;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font-family:Arial,Helvetica,sans-serif;font-size:13px;font-weight:none;font-style:none;color:#ffffff;text-decoration:none;}
ul#css3menu1 li:hover>a{
	background-color:#0d0d0d;border-color:#0d0d0d;border-style:solid;font-family:Calibri,"Trebuchet MS",Georgia,Times,sans-serif;font-size:18px;font-weight:none;font-style:none;color:#b3b3b3;text-decoration:none;text-shadow:1px 1px 1px #000000;}
ul#css3menu1 img{
	border:none;vertical-align:middle;margin-right:9px;}
ul#css3menu1 img.over{
	display:none;}
ul#css3menu1 li:hover > a img.def{
	display:none;}
ul#css3menu1 li:hover > a img.over{
	display:inline;}
ul#css3menu1 li a.pressed img.over{
	display:inline;}
ul#css3menu1 li a.pressed img.def{
	display:none;}
ul#css3menu1 ul span{
	background-image:none;padding-right:18px;}
ul#css3menu1 a{
	padding:9px 15px 14px 15px;background-repeat:no-repeat;background-position:0 50%;border-width:1px 1px 0 1px;border-style:solid;border-color:transparent;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;color:#b3b3b3;text-decoration:none;text-shadow:1px 1px 1px #000000;}
ul#css3menu1 li:hover>a,ul#css3menu1 li>a.pressed{
	background-color:#0d0d0d;border-style:solid;border-color:#0d0d0d;color:#b3b3b3;text-decoration:none;text-shadow:1px 1px 1px #000000;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li>a.pressed{
	background-color:#000000;background-image:url("../../img/theme_menu_arrowsub_9.png");border-style:solid;border-color:#2a2a2a;font-family:Arial,Helvetica,sans-serif;font-size:13px;font-weight:none;font-style:none;color:#ffffff;text-decoration:none;}
ul#css3menu1.topmenu{
	border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;}
ul#css3menu1 li.topmenu>a{
	border-radius:9px;-moz-border-radius:9px;-webkit-border-radius:9px;opacity:0.9;}
ul#css3menu1 li.toproot>a{
	border-radius:9px 9px 0 0;-moz-border-radius:9px 9px 0 0;-webkit-border-radius:9px;-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;opacity:0.9;}
ul#css3menu1 li.subfirst>a{
	border-radius:7px 7px 0 0;-moz-border-radius:7px 7px 0 0;-webkit-border-radius:7px;-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;}
ul#css3menu1 li.sublast>a{
	border-width:0;border-radius:0 0 7px 7px;-moz-border-radius:0 0 7px 7px;-webkit-border-radius:0;-webkit-border-bottom-right-radius:7px;-webkit-border-bottom-left-radius:7px;}
.scdisabledmain{
 color:#f8f8f8 !important;
}
.scdisabledsub{
 color:#444444 !important;
}
.scMenuHTableCssAlt{
 background-repeat:no-repeat;background-position:0 50%;
}
