.scButton_default { font-family: Arial, sans-serif; font-size: 11px; color: #fff; font-weight: bold; border-color: #8A0A37; border-style: solid; border-width: 1px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding: 3px 14px; background-image: url(../../img/scriptcase__NM__bg_linha_red.jpg); }
.scButton_disabled { font-family: Arial, sans-serif; font-size: 11px; color: #666666; font-weight: bold; border-color: #FFC2D7; border-style: solid; border-width: 1px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding: 3px 14px; background-image: url(../../img/scriptcase__NM__btn_redwine_off.png); }
.scButton_onmousedown { font-family: Arial, sans-serif; font-size: 11px; color: #666666; font-weight: bold; background-color: #EED8E3; border-color: #999; border-style: solid; border-width: 1px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding: 3px 14px;  }
.scButton_onmouseover { font-family: Arial, sans-serif; font-size: 11px; color: #333; font-weight: bold; border-color: #CB9FB4; border-style: solid; border-width: 1px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding: 3px 14px; background-image: url(../../img/scriptcase__NM__bg_linha_red.jpg); }
.scLink_default { text-decoration: underline; font-family: Arial, sans-serif; font-size: 12px; color: #0000AA;  }
.scLink_default:visited { text-decoration: underline; font-family: Arial, sans-serif; font-size: 12px; color: #0000AA;  }
.scLink_default:active { text-decoration: underline; font-family: Arial, sans-serif; font-size: 12px; color: #0000AA;  }
.scLink_default:hover { text-decoration: none; font-family: Arial, sans-serif; font-size: 12px; color: #0000AA;  }
