.scCalendarBorder { background-color: #f5f5f5; border-collapse: collapse; border-color: #D2D2D2; border-style: solid; border-width: 1px; margin: 0 }
.scCalendarBorderPadding { padding: 0 }
.scCalendarToolbar { background-color: #C62760; border-style: none; border-width: 0 }
.scCalendarToolbarPadding { padding: 1px }
.scCalendarInput { border-color: #CCCCCC; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 12px; font-style: normal; text-decoration: none }
.scCalendarTabela { background-color: #f5f5f5; border-collapse: collapse; border-color: #D2D2D2; border-style: solid; border-width: 1px 1px 1px 1px }
.scCalendarWeekday { background-color: #EBEBEB; border-color: #cccccc; border-style: solid; border-width: 0 0 1px 0; color: #000000; font-family: Arial, sans-serif; font-size: 12px; font-style: normal; padding: 1px; text-align: right; text-decoration: none }
.scCalendarMonthday { background-color: #FFFFFF; color: #000000; font-family: Arial, sans-serif; font-size: 12px; font-style: normal; padding: 2px; text-align: right; text-decoration: none }
.scCalendarMonthdayFont { color: #000000; font-family: Arial, sans-serif; font-size: 12px; font-style: normal; text-decoration: none }
.scCalendarSelectedday { background-color: #8A0A37; border-color: #999; border-style: solid; border-width: 1px; color: #fff; font-family: Arial, sans-serif; font-size: 12px; font-style: normal; padding: 0 3px 0 3px; text-align: center; text-decoration: none }
.ui-datepicker-trigger { vertical-align: middle; margin: 2px }
.ui-datepicker { display: none }
.ui-datepicker .ui-datepicker-header { background-color: #C62760; background-image: none; padding: 0 }
.ui-datepicker .ui-state-default { background-color: #FFFFFF; background-image: none; color: #000000; font-family: Arial, sans-serif; font-size: 12px; font-style: normal; text-align: right; text-decoration: none }
.ui-datepicker .ui-state-active { background-color: #8A0A37; background-image: none; color: #fff; font-family: Arial, sans-serif; font-size: 12px; font-style: normal; text-align: center; text-decoration: none }
