.scExportPage { background-color: #F2E9F3; background-image: url(../../img/scriptcase__NM__v6RedbgPage.png); background-repeat: repeat-x }
.scExportTable { background-color: #F6EBF6; border-collapse: collapse; border-color: #8A0A37; border-style: solid; border-width: 1px 1px 1px 1px; height: 100px; width: 400px }
.scExportTitle { background-image: url(../../img/scriptcase__NM__bg_linha_red.jpg); background-repeat: repeat-x; color: #fff; font-family: Arial, sans-serif; font-size: 12px; font-style: normal; font-weight: bold; padding: 5px; text-decoration: none }
.scExportLine { padding: 3px 10px 3px 10px; vertical-align: middle }
.scExportLineFont { color: #000000; font-family: Arial, sans-serif; font-size: 12px; font-style: normal; text-decoration: none }
.scExportBar { border-collapse: collapse; height: 20px }
.scExportBarRest { background-color: #dfdfdf; background-repeat: repeat-x; border-color: #4e4e4e #aaa #aaa #4e4e4e; border-style: solid; border-width: 1px; padding: 0 }
.scExportBarDone { background-color: #1ED3E3; background-image: url(../../img/scriptcase__NM__v6RedbgPage.png); background-repeat: repeat-x; border-color: #aaa #4e4e4e #4e4e4e #aaa; border-style: solid; border-width: 1px; padding: 0 }
