.scMenuTTable { background-color: #DEC7E1; border-style: solid; border-width: 1px 1px 1px 1px; border-color: #D2D2D2; border-collapse: collapse }
.scMenuTTableM { margin: 10px 2px 10px 2px }
.scMenuIframe { border-style: solid; border-width: 0; border-color: #D2D2D2; width: 100%; height: 100% }
.scMenuTHeader { background-color: #CC8EB7; border-collapse: collapse }
.scMenuTHeaderFont { color: #333333; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 0; text-decoration: none }
.scMenuTFooter { background-color: #f5f5f5; border-collapse: collapse }
.scMenuTFooterFont { color: #999999; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scMenuTItems { font-family: Arial, sans-serif; font-size: 12px; color: #333; font-style: normal; text-decoration: none; white-space: nowrap }
.scMenuTItem { font-family: Arial, sans-serif; font-size: 12px; color: #333; font-style: normal; text-decoration: none; white-space: nowrap }
.scMenuTItemSel { background-color: #ffffff; color: #333 }
.scMenuTItemDisabled { color: #C0C0C0 }
.scMenuTSubItemDisabled { color: #C0C0C0 }
.a.phplm:hover { background-color: #ffffff; color: #333 }
.a.phplm:active { background-color: #ffffff; color: #333 }
