.scBtnGrpBackground { background-color: #fff; border-color: #8A0A37; border-style: solid; border-width: 1px 1px 1px 1px; border-collapse: collapse; padding: 0; z-index: 99999; text-align: left }
.scBtnGrpText { background-color: #FFFFFF; padding: 4px 25px 4px 15px }
.scBtnGrpTextOver { background-color: #EED8E3 }
.scBtnGrpLink { color: #000000; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
