.scContainerPage { background-image: url(../../img/scriptcase__NM__V6bgGray.png); background-repeat: repeat-x }
.scContainerHeader { background-color: #535353 }
.scContainerHeaderFont { color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scContainerFooterFont { color: #999999; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scContainerWidget { background-color: #E9E7E9; border-color: #f5f5f5; border-style: solid; border-width: 1px; margin: 10px 5px }
.scContainerMaximized { background-color: #E9E7E9; border-color: #f5f5f5; border-style: solid; border-width: 1px }
.scContainerTitle { color: #000000; font-family: Arial, sans-serif; font-size: 12px; padding: 1px;px Height:20px; text-decoration: none }
.widget-placeholder { border-color: #AAAAAA; border-style: dashed; border-width: 2px; margin: 10px 5px }
.widget-head a.remove { background-image: url(../../img/scriptcase__NM__widget_buttons.gif); background-repeat: no-repeat; background-position: -24px }
.widget-head a.collapse { background-image: url(../../img/scriptcase__NM__widget_buttons.gif); background-repeat: no-repeat; background-position: -52px }
