.scAppCalendarPage { background-color: #fff; background-image: url(../../img/scriptcase__NM__V6bgGray.png); background-repeat: repeat-x }
.fc-header-title { color: #000000; font-family: Arial, sans-serif }
.fc-sun { background-color: #666666; color: #FFFFFF; font-family: Arial, sans-serif }
.fc-mon { background-color: #666666; color: #FFFFFF; font-family: Arial, sans-serif }
.fc-tue { background-color: #666666; color: #FFFFFF; font-family: Arial, sans-serif }
.fc-wed { background-color: #666666; color: #FFFFFF; font-family: Arial, sans-serif }
.fc-thu { background-color: #666666; color: #FFFFFF; font-family: Arial, sans-serif }
.fc-fri { background-color: #666666; color: #FFFFFF; font-family: Arial, sans-serif }
.fc-sat { background-color: #666666; color: #FFFFFF; font-family: Arial, sans-serif }
.fc-axis { background-color: #FFF; color: #000; font-family: Arial, sans-serif; font-size: 12px }
.fc-not-today { color: #000; font-family: Arial, sans-serif; font-size: 12px }
