.scBtnGrpBackground { background-color: #FFFFFF; border-color: #D2D2D2; border-style: solid; border-width: 1px; border-collapse: collapse; padding: 0; z-index: 99999; text-align: left }
.scBtnGrpText { background-color: #fff; padding: 4px 25px 4px 15px }
.scBtnGrpTextOver { background-color: #F0EEEE }
.scBtnGrpLink { color: #000; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
