.scMenuTTable { background-color: #dedede; border-collapse: collapse }
.scMenuTTableM { margin: 10px 2px 10px 2px }
.scMenuIframe { border-style: solid; border-width: 0; border-color: #666666; border-collapse: collapse; width: 100%; height: 100% }
.scMenuTHeader { background-color: #535353; border-collapse: collapse }
.scMenuTHeaderFont { color: #FFFFFF; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 0; text-decoration: none }
.scMenuTFooter { border-collapse: collapse }
.scMenuTFooterFont { color: #FFFFFFF; font-family: Arial; font-size: 12px; text-decoration: none }
.scMenuTItems { font-family: Arial, sans-serif; font-size: 12px; color: #333; font-style: normal; text-decoration: none; white-space: nowrap }
.scMenuTItem { font-family: Arial, sans-serif; font-size: 12px; color: #333; font-style: normal; text-decoration: none; white-space: nowrap }
.scMenuTItemSel { background-color: #ffffff; color: #333 }
.scMenuTItemDisabled { color: #C0C0C0 }
.scMenuTSubItemDisabled { color: #C0C0C0 }
.a.phplm:hover { background-color: #ffffff; color: #333 }
.a.phplm:active { background-color: #ffffff; color: #333 }
