.scTabPage { background-color: #fff; background-image: url(../../img/scriptcase__NM__V6bgGray.png); background-repeat: repeat-x }
.scTabTableApls { border-color: #acacac; border-style: solid; border-width: 1px; border-collapse: collapse }
.scTabLine { background-color: #fff; border-color: #acacac; border-style: solid; border-width: 0 0 3px 0; width: 100% }
.scTabHeader { background-color: #f5f5f5 }
.scTabHeaderFont { color: #333333; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 0; spacing: 1px; text-align: left; text-decoration: none }
.scTabActive { background-color: #acacac; color: #F4F4F4; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; font-style: normal; text-decoration: none }
.scTabActiveFont { color: #F4F4F4; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; font-style: normal; outline: none; text-decoration: none }
.scTabActiveBg { background-color: #acacac; padding: 2px 15px 2px 15px }
.scTabInactive { background-color: #dedede; color: #999999; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; font-style: normal; text-decoration: none }
.scTabInactiveFont { color: #999999; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; font-style: normal; outline: none; text-decoration: none }
.scTabInactiveBg { background-color: #dedede; height: 17px; padding: 2px 15px 2px 15px; min-height: 17 }
.scTabActiveLink { color: #000000; font-family: Arial, sans-serif; font-size: 12px; font-style: normal; text-decoration: underline }
.scTabInactiveLink { color: #000000; font-family: Arial, sans-serif; font-size: 12px; font-style: normal; text-decoration: none }
.scTab_space_wi { width: 1px }
.scTab_space_he { height: 1px }
