/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #2b2a2a;
    text-decoration:none;
    font-size: 10pt;
}
    a:hover {
    color: #4f7ec1;
    }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    background:url('../img/bg.png');
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.clear {
	clear:both;
}

.logobg {
    position:absolute;
  left: 46px;
  top: -10px;
  z-index: -1;
}

#warning {
  background: url(./img/warning.png);
  background-repeat: no-repeat;
  background-color: #fcd5d5;
  border: 1px solid #e76f6f;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 50%;
  margin-left:auto;
  margin-right:auto;
  padding: 10px;
}





a.logo img {
  width:400px;
  margin-top: -18px;
}
.social {
  margin-top:-6px;
}
.social a {
  float: right;
  margin-left:5px;
  opacity: 0.4;
transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.social a:hover {
  opacity: 1.0;
}


.main-menu {
  float:right;
  margin-right:70px;
  margin-top:7px;
  padding-bottom: 30px;

}
.main-menu a {
  font-size: 12pt;
  font-weight: bold;
  font-family: Calibri;
  color: #666;
  height: 50px;

}
.main-menu a:hover {
  color: #5877BB;
}


.main-menu li.sub {
position: relative;
}
.main-menu li.sub ul {
 width: 13em;
 margin: 0;
 padding: 0.4em 0;
 list-style: none;
 background: #3d639a;
 opacity: 0.1;
 position: absolute;
 top: -1000em;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;

    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;



} 

.main-menu li.sub ul li {
 width: 98%;
 margin: 0 auto 0.3em auto;
}

.main-menu li.sub ul li a {
 height: 100%;
 display: block;
 padding: 0.4em;
 color: #fff;
 font-family: Times New Roman;
 font-weight: normal;
 text-decoration: none;

}

.main-menu li.sub ul li a:hover {
 color: #adc2e1;
}
.main-menu li.sub:hover ul {
 top: 40px;
 left:20px;
 opacity: 0.95;
}
.user ul {
  float:left;
}
#form1 input[type="text"] {
  margin-bottom:2px;
}

/* all */
::-webkit-input-placeholder { font-style:italic; color:#cecece; }
::-moz-placeholder { font-style:italic; color:#cecece; } /* firefox 19+ */
:-ms-input-placeholder { font-style:italic; color:#cecece; } /* ie */
:-moz-placeholder { font-style:italic; color:#cecece; }


.user ul li a {
  text-transform: capitalize;
  color: #666;
  text-decoration: none;
  font-size: 10pt;
}
.user ul li a:hover {
  color: #5877BB;
}

table.profilee {
  width: 70%;
}
table.profilee tr, td {
  width: 50%;
  background: transparent;
  border: none;
}

table.profilee2 {
  width: 40%;
}
table.profilee2 tr, td {
  padding: 7px;
  background: transparent;
  border: none;
}

table.companiees {
  width: 100%;
}
table.companiees tr, td {
  width: 50%;
  background: transparent;
  border: none;
}

table.companiees2 {
  width:95%;
  margin-top:-30px;
}
table.companiees2 tr, td {
  padding: 7px;
  background: transparent;
  border: none;
}

.page {
    background:url('../img/bgtop.png');
    background-repeat:repeat-x;
    background-color: #f9f9f9;
    min-height:110px;
}
#drop_1 {
  margin-left:5px;
  padding:4px;
  width:94%;
}
#domain {
  margin-left:5px;
  padding:4px;
  width:94%;
}
table {
  border-collapse: collapse;
  width:100%;
}
/* Zebra striping */
table.tb-responsive tr:nth-of-type(odd) {
  background: #eee;
}
table.tb-responsive th {
  background: #333;
  color: white;
  font-weight: bold;
}
table.tb-responsive td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}
table.register {
  text-align: left;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
table.register td, tr {
  background: #f2f2f2;
  padding: 15px;
  border: 1px solid #c3c3c3;
}

#database {
  margin:0px;
}



.wrapper_footer {
    padding-top: 40px;
	bottom:0;
	width:100%;
	min-height:80px; /* Height of the footer */
}

.wrapper_footer .wrapper_copyright {
   background: url(../img/bg-footer.png);
   background-repeat: repeat-x;
   background-color: #363636;
   width:100%;
   height:55px;
   padding-top:28px;
   bottom:0;
   color:#646464;
   font-size:11px;
   font-family: Lucida Sans Unicode;
   border-top:1px solid #393939;
   }

.wrapper_copyright .copy_left {
   text-align: center;
   font-size:11px;
   font-family: Lucida Sans Unicode;
   }

/**Services hovers**/
/* NINTH EXAMPLE*/
.view-second img {
   -webkit-transition: all 0.2s ease-in;
   -moz-transition: all 0.2s ease-in;
   -o-transition: all 0.2s ease-in;
   -ms-transition: all 0.2s ease-in;
   transition: all 0.2s ease-in;
}
.view-second .mask {
   background-color: rgba(115,146,184, 0.7);
   width: 300px;
   padding: 60px;
   height: 300px;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: translate(265px, 145px) rotate(45deg);
   -moz-transform: translate(265px, 145px) rotate(45deg);
   -o-transform: translate(265px, 145px) rotate(45deg);
   -ms-transform: translate(265px, 145px) rotate(45deg);
   transform: translate(265px, 145px) rotate(45deg);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-second h2 {
   border-bottom: 1px solid rgba(0, 0, 0, 0.3);
   background: transparent;
   margin: 20px 40px 0px 40px;
   -webkit-transform: translate(200px, -200px);
   -moz-transform: translate(200px, -200px);
   -o-transform: translate(200px, -200px);
   -ms-transform: translate(200px, -200px);
   transform: translate(200px, -200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-second p {
   -webkit-transform: translate(-200px, 200px);
   -moz-transform: translate(-200px, 200px);
   -o-transform: translate(-200px, 200px);
   -ms-transform: translate(-200px, 200px);
   transform: translate(-200px, 200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-second a.info {
   -webkit-transform: translate(0px, 100px);
   -moz-transform: translate(0px, 100px);
   -o-transform: translate(0px, 100px);
   -ms-transform: translate(0px, 100px);
   transform: translate(0px, 100px);
   -webkit-transition: all 0.2s 0.1s ease-in-out;
   -moz-transition: all 0.2s 0.1s ease-in-out;
   -o-transition: all 0.2s 0.1s ease-in-out;
   -ms-transition: all 0.2s 0.1s ease-in-out;
   transition: all 0.2s 0.1s ease-in-out;
}
.view-second:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translate(-80px, -125px) rotate(45deg);
   -moz-transform: translate(-80px, -125px) rotate(45deg);
   -o-transform: translate(-80px, -125px) rotate(45deg);
   -ms-transform: translate(-80px, -125px) rotate(45deg);
   transform: translate(-80px, -125px) rotate(45deg);
}
.view-second:hover h2 {
   -webkit-transform: translate(0px,0px);
   -moz-transform: translate(0px,0px);
   -o-transform: translate(0px,0px);
   -ms-transform: translate(0px,0px);
   transform: translate(0px,0px);
   -webkit-transition-delay: 0.3s;
   -moz-transition-delay: 0.3s;
   -o-transition-delay: 0.3s;
   -ms-transition-delay: 0.3s;
   transition-delay: 0.3s;
}
.view-second:hover p {
   -webkit-transform: translate(0px,0px);
   -moz-transform: translate(0px,0px);
   -o-transform: translate(0px,0px);
   -ms-transform: translate(0px,0px);
   transform: translate(0px,0px);
   -webkit-transition-delay: 0.4s;
   -moz-transition-delay: 0.4s;
   -o-transition-delay: 0.4s;
   -ms-transition-delay: 0.4s;
   transition-delay: 0.4s;
}
.view-second:hover a.info {
   -webkit-transform: translate(0px,0px);
   -moz-transform: translate(0px,0px);
   -o-transform: translate(0px,0px);
   -ms-transform: translate(0px,0px);
   transform: translate(0px,0px);
   -webkit-transition-delay: 0.5s;
   -moz-transition-delay: 0.5s;
   -o-transition-delay: 0.5s;
   -ms-transition-delay: 0.5s;
   transition-delay: 0.5s;
}
.view {
   width: 300px;
   height: 200px;
   margin: 10px;
   border: 10px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 2px #e6e6e6;
   -moz-box-shadow: 1px 1px 2px #e6e6e6;
   box-shadow: 1px 1px 2px #e6e6e6;
   cursor: default;
   background: #fff url(../images/bgimg.jpg) no-repeat center center;
}
.view .mask,.view .content {
   width: 300px;
   height: 200px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
}
.view p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.view a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}
/** END Services hover **/

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

.fade:hover {
   opacity: 0.5;
   }

input#login-submit {
    width:100px;
    position: relative;
    overflow: visible;
    display: inline-block;
    padding: 4px 15px;
    border: 1px solid #d4d4d4;
    margin-left: 10px;
    margin-top: 10px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff;
    white-space: nowrap;
    cursor: pointer;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .25);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

input#login-submit:hover,
input#login-submit:focus {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #fff;
    background-color: #3C8DDE;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}
#fallr-buttons {
  display:none;
}
.pay-buttons input {
  width:100px;
  padding:10px;
  display:inline;
  border: none;
}

#companies{
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  height: 100%;
}


.companies-visible {
  display:none;
}

.searched-companies {
  float:left;
  margin-bottom:100px;
}

.inp {
  width: 229px;
  height: 26px;
  margin: 4px;
}


.searched-table li {
  display:inline;

}





#lookup{
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 18%;
  margin-right: 20px;
  padding: 10px;
  height: auto;
}


input, textarea {
	padding: 6px;
	border: solid 1px #cecece;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	width: 90%;
  margin-left: 5px;
	}



.messagepop {
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:none;
  margin-top: 25px;
  margin-left: -285px;
  position:absolute;
  text-align:left;
  width:394px;
  z-index:50;
  padding: 25px 25px 20px;
}

label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

.messagepop p, .messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}

* 2.0 - Grid Layout (Responsive)
   ========================================================================== */
/* Sections & Content Blocks */
.section {
  position: relative;
}
.row {
  margin-bottom: 1em;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
.container.first {
  height:150px;
}

/* Fluid Grid */
.col {
  margin-left: 2%;
  float: left;
}
.col.lg {
  margin-left: 0%;
}


/* Columns */
.one {
  width: 6.333%;
}
.two {
  width: 14.667%;
}
.three {
  width: 23.0%;
}
.four {
  width: 31.333%;
}
.five {
  width: 39.667%;
}
.six {
  width: 48.0%;
}
.seven {
  width: 56.333%;
}
.eight {
  width: 64.667%;
}
.nine {
  width: 73.0%;
}
.ten {
  width: 81.333%;
}
.eleven {
  width: 89.667%;
}
.twelve {
  width: 100%;
}
.half {
  width: 48.0%;
}
.one-third {
  width: 31.333%;
}
.one-four {
  width: 19.333%;
}
.three-four {
  width: 76.333%;
}
.none,
.nodesktop {
  display: none;
}

.user ul li {
    float:left;
    padding:5px;
}
/* ==========================================================================
/* -- Mobile Devices (Layout, Modifications, etc)
   ========================================================================== */
@media only screen and (max-width: 959px) {
  html body {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  table.tb-responsive td, tr {
  width: inherit;
  height: auto;
  }

  table.tb-responsive td {
    height: 50px;
  }



  .apply-filters-div {
    display:none;
  }
  .searched-table li {
    display:block;
  }
  table.tb-responsive td, th {
    border:none;
  }
  table.tb-responsive tr {
    display:block;
    margin-bottom:10px;
  }
  table.tb-responsive tr.first-tr {
    display:none;
  }
  .page {
    background: #f9f9f9;
  }
  #drop_1 {
  margin-left:5px;
  padding:4px;
  width:212px;
}
  #domain {
  margin-left:5px;
  padding:4px;
  width:212px;
}
  #lookup{
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 220px;
  margin-right: 20px;
  padding: 10px;

}

  input, textarea {
	padding: 4px;
	border: solid 1px #cecece;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	width: 210px;
    margin-left: 5px;
	}

  a.logo img {
    width: 250px;
  }
  .social a {
    float:none;
  }
  .user ul {
  float:none;
}
  .user ul {
  float:right;
  margin: 0;
}

.main-menu {
  text-align:center;
  margin: 0;
  width: 100%;
  list-style: none;
}
.main-menu a {
  font-weight: normal;
}

  .one,
  .two,
  .three,
  .four,
  .five,
  .six,
  .seven,
  .eight,
  .nine,
  .ten,
  .eleven,
  .twelve {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    float: none;
    text-align:center;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  table.tb-responsive  td {
  padding: 3% 0 12px 50%;
  }
  .nomobile {
    display: none;
  }
  .showmobile {
    display: block;
  }
    .social {
    text-align:center;
    margin-top:15px;
  }
  .container.first {
  height: 300px;
  }
  .three-four {
  width: 100%;
  width: 100%;
}

}

/* End Mobile Media Query */
/* ==========================================================================
/* -- Print Layout
   ========================================================================== */
@media print {
  body {
    font-family: serif;
    /* Serif is easier to read offscreen */
    margin: 0.5cm;
  }
}

    /* End Print Media Query */
    .header {
      background-color: #d6511d;
      margin-bottom: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .navigation {
      line-height: normal;
      padding-top: 12px;
    }
    .navigation ul {
      list-style: none;
      padding: 0;
      margin: 10px 0 0 0;
      width:100%;
    }
    .navigation ul li {
      float:right;
      margin-left: 10px;
    }
    .navigation ul li:first-child {
      margin-left: 0;
    }
    .navigation ul li a {
      text-transform: capitalize;
      color: #666;
      padding: 25px 24px;
      text-decoration: none;
      font-size: 14px;
    }
    .navigation ul li a.current {
      color:#000;
    }
    .navigation ul li a:hover {

    }
    .navigation ul li a:active {
      color: #98bced;
    }
    .content-inner {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    table.tb-responsive {

      width:100%;
      height: auto;
      table-layout:fixed;
    }
    table.tb-responsive td {
      overflow: hidden;
    }
    .tb-responsive tr {
      cursor: pointer;
    }
    #database, #database-searched {
      margin:0;
    }
    th h2  {
      color:#fff;
    }




@media only screen and (max-width: 959px) {
  .header {
    padding-bottom: 0;
    text-align: center;
  }
  .header .container {
    padding: 0;
  }
  .logo {
    float: none;
    margin: 0 auto;
    display: inline-block;
    *zoom: 1;
    *display: inline;
  }
  a.logo img {
  margin-top: 0px;
  }
  .nav-toggle {
    display: block;
    background-color: #fddfd3;
    text-align: center;
    color: #222;
    padding: 10px;
    text-decoration: none;
  }
  .nav-toggle:hover,
  .nav-toggle.active {
    background-color: #fff0ea;
  }
  .navigation {
    float: none;
  }
  .navigation ul li {
    float: none;
    margin-left: 0;
  }
  .navigation ul li a {
    color: #222;
    padding: 10px;
    display: block;
    font-size: 1em;
    text-transform: none;
    background-color: #fddfd3;
    border: 0;
  }
  .navigation ul li a:hover {
    background-color: #fff0ea;
  }
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .showmobile.inline-block {
    display: inline-block;
    *zoom: 1;
    *display: inline;
  }
    .social {
    text-align:center;
    margin-top:15px;
  }
  .user ul li {
    display:inline;
    float:none;
    text-align:center;
}
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}




	/* Hide table headers (but not display: none;, for accessibility) */
.tb-responsive 	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

.tb-responsive 	tr { border: 1px solid #ccc; }

.tb-responsive 	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
	}

.tb-responsive 	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 38px;
		left: 6px;
		width: auto;
		padding-right: 10px;
		white-space: nowrap;
        font-weight: bold;
	}

	/*
	Label the data
	*/
	.tb-responsive td:nth-of-type(1):before { content: "Company Name"; }
	.tb-responsive td:nth-of-type(2):before { content: "Address"; }
	.tb-responsive td:nth-of-type(3):before { content: "Phone"; }
	.tb-responsive td:nth-of-type(4):before { content: "Position"; }
	.tb-responsive td:nth-of-type(5):before { content: "Email"; }
	.tb-responsive td:nth-of-type(6):before { content: "Website"; }
}
}
















