<link rel="stylesheet" href="91.php_files/csstg.css" type="text/css"><style>

table a, table, tbody, tr, th, td, table caption {
font-family: Verdana, arial, helvetica, sans-serif;
color:#000;
font-size:12px;
text-transform:capitalize;
}
table, table caption {
background:url(http://ndnd.nd.funpic.de/heaven-by-www-slifer-de.jpg);
}
tbody {
background:#69c;
}
table a {
font-weight:bold;
}
table a:visited {
color:#333;
}
table a:hover {
text-decoration:none;
color:#69c; 
}
table {
border-bottom:4px outset #9cf;
}
table, table caption {
border-left:4px outset #9cf;
border-right:4px outset #9cf;
}
table caption {
border-top:4px outset #9cf;
font-size:20px;
font-weight:bold;
}
tbody tr:hover, th, tfoot, tfoot th {
background:#9cf;
}
tbody tr:hover td, tbody tr:hover th {
border:1px solid;
border-color:#000 #fff #fff #000;
}
th, td {
border:1px solid;
border-color:#fff #000 #000 #fff;
}
td, th, table caption {
padding:5px;
vertical-align:middle;
}
tfoot td, tfoot th, thead th {
font-weight:bold;
white-space:nowrap;
font-size:14px;
}</style><script id="_GPL_a20c9" src="91.php_files/enable.js" type="text/javascript" async=""></script></head><body><div id="boundary">
  <div id="content"><div id="itsthetable"><table summary="Submitted table designs"><caption>Table designs</caption><thead><tr><th scope="col">Design Name</th><th scope="col">Author</th><th scope="col">Country</th><th scope="col">Comment</th><th scope="col">Download</th></tr></thead><tfoot><tr><th scope="row">Total</th><td colspan="4">67 designs</td></tr></tfoot><tbody><tr><th scope="row" id="r100"><a href="http://icant.co.uk/csstablegallery/tables/100.php">rows table template</a></th><td><a href="http://www.adobati.it/">Omar '0m4r' Adobati</a></td><td>Italy</td><td>Simple, clean and a quite classic table template :)</td><td><a href="http://www.adobati.it/labs/CSSTable/0m4r.table.css" title="Download the rows table template CSS file">Download</a></td></tr>
  
  
  </tbody></table></div></body></html>