.select {
	position:absolute;
	width:167px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height:30px;
	padding:5px 24px 0 8px;
	background:url(search-bg.gif) no-repeat;
	overflow:hidden;
}
