<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title><?php echo $title; ?></title>
    </head>
    <body>

        <h1><?php echo $greeting; ?></h1>

    </body>
</html>