body{
	font:100%/1.4 Verdana;
	font-size:12px;
	margin:0;
	padding:0;
}
a{
	cursor:pointer;
}
a:hover{
	text-decoration:underline;
}
.main{
	width:1000px;
	margin:0 auto;
}
.header{
	background:url('top-bg.gif') repeat-x;
	height:48px;
	color:#fff;
	font-weight:bold;
	line-height:43px;
}
.header .title{
	font-size:18px;
	padding-left:180px;
}
.header .subtitle{
	font-size:16px;
	padding-left:440px;
}
.sidebar_left{
	float:left;
	width:190px;
	height:500px;
}
.sidebar_left1{
	height:30px;
	line-height:29px;
	font-size:16px;
	text-align:center;
	letter-spacing:1px;
}
.sidebar_left2{
	width:170px;
	padding:10px;
}
.sidebar_left2_textbox{
	width:148px;
	height:10px;
	margin-bottom:10px;
	padding:5px;
	background-color:#e0e0e0;
	border:solid 1px #999;
}
.sidebar_left2_button{
	height:25px;
	margin-left:-1px;
	padding:0 5px;
	cursor:pointer;
}
.sidebar_left2 img{
	position:relative;
	margin-left:3px;
}
.sidebar_left2_forum{
	background:url('froum-bg.gif') no-repeat;
	border:none;
	height:25px;
	width:160px;
	padding:5px;
	margin-top:-20px;
}
.sidebar_left3{
	width:150px;
	margin:10px;
	height:217px;
	background-color:#6B4F89;
	padding:10px;
	color:#fff;
}
.container_top{
	height:160px;
	width:1000px;
}
.container_top_img{
	float:left;
	padding:45px 0 0 100px;
}
.community{
	padding:20px 0 0 0;
	height:70px;
	font-size:12px;
}
.community li{
	background:url('account-button.gif') no-repeat;
	float:left;
	list-style:none;
	height:35px;
	width:125px;
	color:#fff;
	line-height:27px;
	margin:10px 0 0 5px;
	text-align:center;
	font-weight:bold;
}
.language{
	float:left;
	width:685px;
}
.language table{
	padding:0;
	margin:0;
}
.language table td{
	padding-right:10px;
}
.container_main{
	width:620px;
	float:left;
	margin-bottom:2px;

}
.container_main1{
	height:167px;
	margin:5px;
	background:#eee;
	width:820px;
}
#menu{
	margin-top:-10px; 
}
.container_main2{
	padding:0 5px 5px 0;
}
#search_field{
	font-family:"Verdana";
	border:none;
	width:200px;
	padding:4px 10px;
}
.container_main2_button{
	background:url('search-button.gif') no-repeat;
	width:85px;
	height:30px;
	border:none;
	cursor:pointer;
}
#searchby a{
	padding:5px 0 0 0;
	margin:0;
	font-weight:bold;
	font-size:18px;
	line-height:10px;
}
#searchby a:hover{
	color:#6B4F89;
}
.container_main3{
	height:270px;
	width:610px;
	margin:0 5px 5px 5px;
	background:#eee;
	overflow:hidden;
	width:820px;
}
.container_main3 table{
	padding:0;
	margin:0;
	width:610px;
	background-color:#333;
	color:#fff;
}
.container_main3 th{
	border-right:solid 1px #fff;
}
.container_main3 td{
	color:#333;
	background-color:#eee;
	border-right:solid 1px #333;
	border-bottom:solid 1px #333;
}
.sidebar_right{
	float:right;
	width:190px;
	height:500px;
	color:#fff;
	font-size:12px;
}
.sidebar_right1{
	padding:0 28px 10px 28px;
	text-align:center;
}
.sidebar_right1 ul.nav{
	list-style:none;
	margin:0px;
	padding:0px;
}
.sidebar_right1 ul.nav li{
	height:27px;
	line-height:27px;
	width:133px;
	padding-bottom:3px;
	background:url('account-button.gif') no-repeat;
}
.sidebar_right2{
	background-color:#6B4F89;
	height:237px;
	width:170px;
	margin:10px;
}
.sidebar_right2 h3{
	font-size:18px;
	margin:0px;
	padding:10px;
}
.sidebar_right2 ul.nav{
	list-style:none;
	margin:0 auto;
	padding:10px;
}
.sidebar_right2 ul.nav li{
	height:27px;
	line-height:27px;
	width:133px;
	padding-bottom:10px;
	background:url('account-button.gif') no-repeat;
	color:#fff;
}
.footer {
	position:relative;
	clear:both;
	padding:15px;
	background:#8163a6;
	text-align:center;
	color:#fff;
}
.footer a{
	color:#fff;
	text-decoration:none;
}
.footer a:hover{
	text-decoration:underline;
}