
  
  <link href="Twitter%20Login_files/front.css" media="screen, projection" rel="stylesheet" type="text/css">
  	

    <div id="topnav" class="topnav" style="margin-top:-45px"><a href="#" style="text-decoration:none; color:#FFFFFF" ><span>Sign up</span></a>|<a href="#" class="signin"><span>Sign in</span></a></div> 	
	
	<fieldset style="display: none;" id="signin_menu">
    
      <form method="post" id="signin" action="">
          <label for="username">Username or email</label>
          <input id="username" name="username" title="username" tabindex="4" type="text">
        <p></p>
        <p>
          <label for="password">Password</label>
          <input id="password" name="password" value="" title="password" tabindex="5" type="password">
        </p>
        <p class="remember">
            <input id="signin_submit" value="Sign in" tabindex="6" type="submit">
            <input id="remember" name="remember_me" value="1" tabindex="7" type="checkbox">
            <label for="remember">Remember me</label>
        </p>
        <p class="forgot">
          <a href="#" id="resend_password_link">Forgot your password?</a>        </p>
        <p class="forgot-username">
          <a id="forgot_username_link" title="If you remember your password, try logging in with your email" href="#">Forgot your username?</a>        </p>
      </form>
    </fieldset>
    
    

<script src="Twitter%20Login_files/jquery_002.js" type="text/javascript"></script>
  <script type="text/javascript">
        $(document).ready(function() {

            $(".signin").click(function() {
                $("fieldset#signin_menu").toggle();
				$(".signin").toggleClass("menu-open");
            });
			
			$("fieldset#signin_menu").mouseup(function() {
				return false
			});
			$(document).mouseup(function(e) {
				if($(e.target).parent("a.signin").length==0) {
					$(".signin").removeClass("menu-open");
					$("fieldset#signin_menu").hide();
				}
			});			
			
        });
  </script>
  <script src="Twitter%20Login_files/jquery.js" type="text/javascript"></script>  
  
  <script type="text/javascript">
    $(function() {
	  $('#forgot_username_link').tipsy({gravity: 'w'});   
    });
  </script> 	         	         	

