.scGridPage { background-image: url(../../img/scriptcase__NM__V6bgGray.png); background-repeat: repeat-x; color: #000000; font-family: Arial, sans-serif; margin: 20px 0 20px 0; font-size: 12px }
.scGridBorder { border-color: #D2D2D2; border-style: solid; border-width: 1px; border-collapse: collapse }
.scGridPageLink { color: #384D76 }
.scGridToolbarNav { color: #333; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none; padding: 2px 4px 2px 4px }
.scGridToolbarNavOpen { background-color: #ffdf99; color: #333; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none; border-color: #FFBD69; border-style: solid; border-width: 1px 1px 1px 1px; padding: 2px 4px 2px 4px; -moz-border-radius: 3px; -webkit-border-radius: 3px }
.scGridToolbar { background-color: #f5f5f5; color: #000000; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none; border-style: none; border-width: 0; padding: 5px 10px 5px 10px }
.scGridToolbarPadding { padding: 5px 10px 5px 10px }
.css_toolbar_obj { border-color: #CCCCCC; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 12px; padding: 2px 4px; text-decoration: none }
.css_toolbar_objWm { color: #D4CACA }
.scGridHeader { background-color: #fff }
.scGridHeaderFont { color: #f15204; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scGridFooter { background-color: #f5f5f5 }
.scGridFooterFont { color: #999999; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scGridObjectOdd { border-color: #CCCCCC; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scGridBlockBg { background-color: #F4F2F3; border-color: #d2d2d2; border-width: 1px; border-style: solid; border-top-color: #F4F2F3; border-bottom-color: #F4F2F3; border-left-color: #F4F2F3 }
.scGridBlockLineBg { background-color: #F4F2F3; border-color: #F4F2F3; border-width: 1px; border-style: solid }
.scGridBlockSpaceBg { background-color: #F4F2F3; border-color: #d2d2d2; border-width: 1px; border-style: solid; border-left-color: #F4F2F3; border-right-color: #F4F2F3 }
.scGridBlock { background-color: #F4F2F3; border-color: #d2d2d2; border-width: 1px; border-style: solid; color: #000; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 2px 4px; text-decoration: none }
.scGridBlockFont { color: #000; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scGridBlockLink { color: #000; text-decoration: underline }
.scGridBlockAlign { color: #000; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scGridTotal { background-color: #FFDF99; border-color: #D2D2D2; border-style: solid; border-width: 1px }
.scGridTotalFont { color: #000; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 3px; text-decoration: none }
.scGridSubtotal { background-color: #FFFFFF; border-color: #D2D2D2; border-style: solid; border-width: 1px 0 }
.scGridSubtotalFont { color: #000; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 2px 4px; text-decoration: none }
.scGridFieldEven { background-color: #f8f8f8 }
.scGridFieldEvenFont { color: #000; font-family: Arial, sans-serif; font-size: 12px; padding: 3px 4px; text-decoration: none; border-color: #D2D2D2; border-style: solid; border-width: 1px 0 }
.scGridFieldEvenVert { background-color: #f8f8f8; border-color: #D2D2D2; border-style: solid; border-width: 1px 0; color: #000; font-family: Arial, sans-serif; font-size: 12px; padding: 3px 4px; text-decoration: none }
.scGridFieldEvenLink { color: #384D76 }
.scGridFieldOdd { background-color: #FFFFFF }
.scGridFieldOddFont { color: #000; font-family: Arial, sans-serif; font-size: 12px; padding: 3px 4px; text-decoration: none; border-color: #D2D2D2; border-style: solid; border-width: 1px 0 }
.scGridFieldOddVert { background-color: #FFFFFF; border-color: #D2D2D2; border-style: solid; border-width: 1px 0; color: #000; font-family: Arial, sans-serif; font-size: 12px; padding: 3px 4px; text-decoration: none }
.scGridFieldOddLink { color: #384D76 }
.scGridFieldClick { background-color: #DBD9D9; border-color: #D2D2D2; border-style: solid; border-width: 1px 0 }
.scGridFieldOver { background-color: #E0E0E0 }
.scGridLabel { background-color: #969696 }
.scGridLabelVert { background-color: #969696; border-color: #D3D3D3; border-style: solid; border-width: 1px; color: #fff; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 2px 4px; text-decoration: none }
.scGridLabelFont { color: #fff; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 2px 4px; text-decoration: none; border-color: #D3D3D3; border-style: solid; border-width: 1px }
.scGridLabelLink { color: #fff; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scGridTabela { background-color: #f5f5f5; border-collapse: collapse; border-color: #D3D3D3; border-style: solid; border-width: 1px 1px 1px 1px }
.TB_overlayBG { background-color: #6e6e6e }
#TB_window { border-color: #A1AFC1; border-style: solid; border-width: 1px 1px 2px 1px }
