 *{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
 }

  body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
  
  A { text-decoration: none; outline:none}
  A:hover { text-decoration: none; }
  
  IMG { border-width: 0px; vertical-align: middle }
  .nmPage {
    margin: 0px;
    padding: 0px;
    background: #ffffff;
}
  .nmTable {
    border-collapse: collapse;
    border-spacing: 0px;
    background-color: #FFFFFF;
    text-align: left;
    border: 1px solid #d0d0d0 !important;
}

  .nmHeader { background-color: #79B2F5; background-image: url(../../img/bg_degvert_blue_big.gif); background-repeat: repeat-x; border-color: #406080; border-style: solid; border-width: 1px 0px 1px; color: #FFFFFF; font-size: 14px; font-weight: bold; padding: 2px 5px 2px }
  
  .nmTitle{
    margin: 0px;
    padding: 0px 0px 0px 6px;
    height: 25px;
    background: #8c8c8c url(../../img/menu_bg_title.png) repeat-x;
    border-bottom: 1px solid #adb4bd;
}

  .nmLineV3Dir {
	padding: 0.3em 0px 0.3em 0px;
	text-align:right;
  }
  .nmLineV3 {
	padding: 0.3em 0px 0.3em 0px;
  }
  .nmTotal { background-color: #BFD4EF; border-color: #406080; border-style: solid; border-width: 1px; color: #406080; font-weight: bold; padding: 2px 5px 2px }
  .nmSubTotal { background-color: #D0DFF4; border-color: #406080; border-style: solid; border-width: 1px; color: #406080; font-weight: bold; padding: 2px 5px 2px }
  .nmOddText { color: #333333; }
  .nmErrorTitle { background-color: #FF4040; color: #FFFFFF; font-weight: bold; padding: 2px 5px 2px }
  .nmErrorMsg { background-color: #FFE0E0; border-color: #406080; border-style: solid; border-width: 1px; color: #000000; padding: 2px 5px 2px }
  .nmErrorText { color: #FF0000 }
  .nmButton{
    border: 1px;
    border-style: outset;
    border-color: #d3d3d3;
    color: #333333;
    background: url(../../img/button.gif) repeat-x;
}

  .nmInput {
    color: #000;
	border: 1px solid #a5a5a5;
	padding: 2px;
	font-size: 11px;
}

  .nmLinkPage { color: #0044C8 }
  .nmLinkTitle { color: #D8EFFF }
  .nmText { color: #333333; }
  .nmTextTitle, .nmTitle, .nmTextTitle2, .nmTextTitle3 {
    color: #fff;
    font-weight: bold;
}

  .nmTextTitle2 { font-size: 16px; }
  .nmTextTitle3 { font-size: 14px; }
  
/* Login */
	#loginContainer { height: 100%; width: 100%; background:url(../../img/bgLoginRounded.png) no-repeat center; }
		#loginPartsLogo { text-align: center; }
		#loginPartsBox { width: 292px; height: 211px; background:url(../../img/bgLoginBox.png) no-repeat; margin:auto; }
			#loginBoxForm{ text-align:center; }
				#loginBoxForm input { font-size: 14px; font-weight: bold; color:#333; padding: 6px; margin-bottom: 15px; background:url(../../img/bgFormText.png) no-repeat; border-top: 1px solid #a9a9a9; border-left: 1px solid #a9a9a9; border-right: 1px solid #c2c2c2; border-bottom: 1px solid #c2c2c2; }				
				#loginButtonsLogin { width: 90px; height: 21px; padding-top: 3px; margin: 0 0 0 8px; font-size: 14px; color:#fff; font-weight: bold; text-align:center; background: url(../img/login/bgFormBtLogin.png) repeat-x #5d5d5d; border: 1px solid #3a3a3a; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; cursor: pointer; }
						#loginButtonsLogin:active {  background: url(../../img/bgFormBtLoginClick.png) repeat-x #5d5d5d; }
							#loginButtonsLogin a {  color: #fff; }
		#loginPartsInfos { line-height: 20px; color: #5e666e; text-align:center; margin-top: 25px; }
			#loginPartsInfos a { color: #5e666e; font-weight: bold; }
		#loginFooter { position: absolute; bottom: 0px; color: #6a7a8c; padding: 8px; }
  
  .nmTableLine {
    background-color: #f0f2f5;
    height: 1px;
}

.nmMenuLine {
    background-image: url(../../img/sc6_bg_menu_top.png);
	background-repeat: repeat-x;
	background-color: #363636;
    height: 32px;
}
.nmIcoSC { float:right; margin: -25px 0 0 0; }
	.nmIcoSC img { border: 0; }
.nmSdwMenuTop { margin: 0; padding: 0; background:url(../../img/sc_bg_menu_degrad_icons.png) repeat-x; height: 4px; }

.nmErrorMsg { background-color: #FFE0E0; color: #000000; font-size: 11px; padding: 2px 5px 2px; }