.scFilterPage { background-color: #F0F2F8; background-image: url(../../img/scriptcase__NM__v6blueshow.png); background-repeat: repeat-x; color: #000000; font-family: Arial, sans-serif; font-size: 12px; margin: 20px 0 20px 0; text-decoration: none }
.scFilterBorder { background-color: #f5f5f5; border-color: #D2D2D2; border-style: solid; border-width: 1px; border-collapse: collapse; padding: 0 }
.scFilterTable { background-color: #f5f5f5; border-collapse: collapse; border-color: #D2D2D2; border-style: solid; border-width: 1px 1px 1px 1px; -webkit-border-radius: css_filter_table_adius; border-radius: css_filter_table_adius }
.scFilterTableTd { padding: 0 }
.scFilterToolbar { background-color: #f9f9f9; border-style: none; border-width: 0; padding: 5px 10px 5px 10px; color: #000000; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scFilterToolbarPadding { padding: 5px 10px 5px 10px }
.scFilterToolbar_obj { border-color: #CCCCCC; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 12px; padding: 2px 4px; text-decoration: none }
.scFilterHeader { background-color: #8AB8DA }
.scFilterHeaderFont { color: #5674b2; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-align: left; text-decoration: none }
.scFilterFooter { background-color: #f5f5f5 }
.scFilterFooterFont { color: #999999; font-family: Arial, sans-serif; font-size: 12px; text-align: left; text-decoration: none }
.scFilterBlock { background-color: #ececec; border-color: #d2d2d2; border-style: solid; border-width: 1px; color: #000; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 1px 1px 1px 6px; text-align: left; text-decoration: none; vertical-align: middle }
.scFilterBlockBack { background-color: #ececec; border-color: #d2d2d2; border-style: solid; border-width: 1px; padding: 1px 1px 1px 6px }
.scFilterBlockFont { color: #000; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-align: left; text-decoration: none; vertical-align: middle }
.scFilterBlockAlign { color: #000; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scFilterLabelOdd { background-color: #FFFFFF; border-color: #D2D2D2; border-width: 1px; color: #000; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 4px 4px 4px 10px; text-align: left; text-decoration: none; vertical-align: top }
.scFilterLabelEven { background-color: #FFFFFF; border-color: #D2D2D2; border-width: 1px; color: #000; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 4px 4px 4px 10px; text-align: left; text-decoration: none; vertical-align: top }
.scFilterFieldOdd { background-color: #FFFFFF; border-color: #D2D2D2; border-style: solid; border-width: 0; color: #000; font-family: Arial, sans-serif; font-size: 12px; padding: 4px 4px 4px 10px; text-align: left; text-decoration: none; vertical-align: top }
.scFilterDataFontOdd { color: #000; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scFilterFieldFontOdd { color: #000; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scFilterFieldEven { background-color: #FFFFFF; border-color: #D2D2D2; border-style: solid; border-width: 0; color: #000; font-family: Arial, sans-serif; font-size: 12px; padding: 4px 4px 4px 10px; text-align: left; text-decoration: none; vertical-align: top }
.scFilterFieldFontEven { color: #000; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scFilterObjectOdd { border-color: #CCCCCC; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 12px; text-align: left; text-decoration: none; vertical-align: top }
.scFilterObjectEven { border-color: #CCCCCC; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 12px; text-align: left; text-decoration: none; vertical-align: top }
.scFilterACTable { border-collapse: collapse; border-color: #BBBBBB #A4ADC2 #A4ADC2 #BBBBBB; border-style: solid; border-width: 1px 2px 2px 1px }
.scFilterACTitle { background-color: #8AB8DA; border-color: #AAA #AAA #777777 #AAA; border-width: 1px; color: #fff; font-family: Arial, sans-serif; font-size: 12px; padding: 2px 4px; text-decoration: none }
.ac_results { background-color: #FFFFFF; border-collapse: collapse; border-color: #D2D2D2; border-style: solid; border-width: 1px; color: #000000; font-family: Arial, sans-serif; font-size: 12px; overflow: hidden; padding: 0; text-decoration: css_ajaxac_linha_par_text_decoration; z-index: 99999 }
.ac_results ul { list-style: none; list-style-position: outside; margin: 0; padding: 0; width: 100% }
.ac_results li { cursor: default; display: block; margin: 0; overflow: hidden; padding: 2px 5px; line-height: 16px }
.ac_odd { background-color: #EAEDF2; color: #000000; font-family: Arial, sans-serif; font-size: 12px }
.ac_over { background-color: #e2e9f8; color: #000000; font-family: Arial, sans-serif; font-size: 12px }
.scFilterPopup { border-collapse: collapse; display: none; position: absolute; z-index: 50 }
.scFilterPopupCorner { height: 15px; width: 19px }
.scFilterPopupTopLeft { background-image: url(../../img/scriptcase__NM__help_topLeftCorner.png); padding: 0 }
.scFilterPopupTop { background-image: url(../../img/scriptcase__NM__help_topLine.png); padding: 0 }
.scFilterPopupTopRight { background-image: url(../../img/scriptcase__NM__help_topRightCorner.png); padding: 0 }
.scFilterPopupLeft { background-image: url(../../img/scriptcase__NM__help_leftColumn.png); padding: 0 }
.scFilterPopupRight { background-image: url(../../img/scriptcase__NM__help_rightColumn.png); padding: 0 }
.scFilterPopupBottomLeft { background-image: url(../../img/scriptcase__NM__help_bottomLeftCorner.png); padding: 0 }
.scFilterPopupBottom { background-image: url(../../img/scriptcase__NM__help_bottomLine.png); padding: 0; text-align: center }
.scFilterPopupBottom img { display: block; margin: 0 auto }
.scFilterPopupBottomRight { background-image: url(../../img/scriptcase__NM__help_bottomRightCorner.png); padding: 0 }
.scFilterPopupContent { background-color: #FFFFFF; color: #000000; font-family: Arial, sans-serif; font-size: 12px; font-style: normal; text-decoration: none }
.scFilterRequiredOdd { color: #FF0000; font-family: Arial; font-size: 12px; font-weight: bold }
.scFilterRequiredEven { color: #FF0000; font-family: Arial; font-size: 12px; font-weight: bold }
