.scFormPage { background-color: #F0F2F8; background-image: url(../../img/scriptcase__NM__v6blueshow.png); background-repeat: repeat-x; color: #000000; font-family: Arial, sans-serif; font-size: 12px; margin: 20px 0 20px 0; text-decoration: none }
.scFormBorder { background-color: #f5f5f5; border-collapse: collapse; border-color: #d0d0d0; border-style: solid; border-width: 1px }
.scFormPageText { color: #000000; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scFormHeader { background-color: #8AB8DA }
.scFormHeaderFont { color: #3F66A0; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFormFooter { background-color: #f5f5f5 }
.scFormFooterFont { color: #999999; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scFormToolbarNav { color: #333; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none; padding: 2px 4px 2px 4px }
.scFormToolbarNavOpen { background-color: #FFE7A2; color: #333; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none; border-color: #FFBD69; border-style: solid; border-width: 1px 1px 1px 1px; padding: 2px 4px 2px 4px; -moz-border-radius: 3px; -webkit-border-radius: 3px }
.scFormToolbar { background-color: #f9f9f9; padding: 5px 10px 5px 10px; border-style: none; border-width: 0 }
.scFormToolbarPadding { padding: 5px 10px 5px 10px }
.scFormToolbarInput { background-color: #FFFFFF; border-color: #CCCCCC; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 12px; padding: 2px 4px; text-decoration: none }
.scFormToolbarInputWm { color: #D4CACA }
.scFormTable { background-color: #f5f5f5; border-collapse: collapse; border-color: #d0d0d0; border-style: solid; border-width: 1px 1px 1px 1px }
.scFormTableTd { padding: 0 }
.scFormLabelLink { color: #333; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none; vertical-align: top; }
.scFormLabelOdd { background-color: #FFFFFF; border-color: #d2d2d2; border-width: 1px; color: #535353; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 4px 4px 4px 10px; text-align: left;; text-decoration: none; vertical-align: top; }
.scFormLabelOddMult { background-color: #D0E4FD; background-image: url(../../img/scriptcase__NM__space_blue.jpg); border-color: #A3C0E8; border-style: solid; border-width: 1px; color: #333; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 2px 4px; spacing: 4px; text-align: left;; text-decoration: none; vertical-align: top; }
.scFormLabelOddFormat { color: #535353; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scFormLabelOddFormatMult { color: #333; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scFormRequiredOdd { color: #FF0000; font-family: Arial; font-size: 12px; font-weight: bold }
.scFormRequiredOddMult { color: #FF0000; font-family: Arial; font-size: 12px; font-weight: bold }
.scFormRequiredOddColor { color: #FF0000; font-family: Arial; font-size: 12px; font-weight: bold }
.scFormRequiredOddColorMult { color: #FF0000; font-family: Arial; font-size: 12px; font-weight: bold }
.scFormObjectOdd { border-color: #CCCCCC; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scFormObjectOddMult { border-color: #CCCCCC; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scFormObjectFocusOdd { background-color: #FFFFD9; border-color: #CCCCCC; border-style: solid; border-width: 1px; color: #000000; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scFormObjectFocusOddMult { background-color: #FFFFD9; border-color: #CCCCCC; border-style: solid; border-width: 1px; color: #000000; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scFormDataOdd { background-color: #FFFFFF; color: #000000; font-family: Arial, sans-serif; font-size: 12px; padding: 4px 4px 4px 10px; text-decoration: none }
.scFormDataOddMult { background-color: #FFFFFF; border-color: #BED6F6; border-style: solid; border-width: 1px 1px 1px 1px; color: #000000; font-family: Arial, sans-serif; font-size: 12px; padding: 4px; text-decoration: none }
.scFormDataFontOdd { color: #000000; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scFormDataFontOddMult { color: #000000; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scFormLinkOdd { color: #000000; text-decoration: underline }
.scFormLinkOddMult { color: #000000; text-decoration: underline }
.scFormLabelLinkOddMult { color: #333 }
.scFormInputError { background-color: #ffaaaa; color: #000000 }
.scFormInputErrorMult { background-color: #ffaaaa; color: #000000 }
.scFormInputDisabled { background-color: #CCCCCC; color: #000000 }
.scFormInputDisabledMult { background-color: #CCCCCC; color: #000000 }
.scFormMessageTable { background-color: #FFE7A2; border-collapse: collapse; border-color: #FFBD69; border-style: solid; border-width: 1px 1px 1px 1px; height: 40px; width: 280px }
.scFormMessageTitle { border-width: 0; color: #000000; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 3px; text-decoration: none }
.scFormMessageTitleFont { color: #000000; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scFormMessageMessage { border-width: 0; color: #333; font-family: Arial, sans-serif; font-size: 12px; padding: 3px; text-decoration: none }
.scFormMessageMessageFont { color: #333; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scFormErrorTable { background-color: #FFE7A2; border-color: #FFBD69; border-style: solid; border-width: 1px 1px 1px 1px; height: 30px; width: 320px }
.scFormErrorTitle { border-style: none; color: #000000; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 5px 3px 1px 3px; text-align: left; text-decoration: none; vertical-align: middle }
.scFormErrorTitleFont { color: #000000; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scFormErrorMessage { color: #333; font-family: Arial, sans-serif; font-size: 12px; padding: 1px 3px 5px 3px; text-align: left; text-decoration: none }
.scFormErrorMessageFont { color: #333; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scFormErrorLine { color: #000000; font-family: Arial, sans-serif; font-size: 12px; padding: 4px 4px 4px 10px; spacing: 0; text-decoration: none }
.scFormFieldErrorTable { background-color: #fff; border-collapse: collapse; border-color: #D2D2D2; border-style: solid; border-width: 0; -moz-border-radius: css_fielderror_radius; -webkit-border-radius: css_fielderror_radius }
.scFormFieldErrorMessage { color: #FF0000; font-family: Arial, sans-serif; font-size: 12px; padding: 2px 4px 2px 4px; text-decoration: none; vertical-align: middle }
.scFormBlock { background-color: #DFECFD; border-color: #d2d2d2; border-style: solid; border-width: 1px; color: #333; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 1px 1px 1px 6px; text-align: left; text-decoration: none; vertical-align: middle }
.scFormBlockFont { color: #333; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scFormBlockAlign { color: #333; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none; vertical-align: middle }
.scFormProcess { color: #000; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold }
.scFormProcessFixed { background-color: #FFFFFF; border-color: #A1AFC1; border-style: solid; border-width: 1px 1px 2px 1px; height: 26px; padding-top: 13px; position: absolute; text-align: center; width: 350px }
.scFormHelpPage { background-image: url(../../img/scriptcase__NM__v6blueshow.png); background-repeat: repeat-x; color: #000000; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scFormPopup { border-collapse: collapse; display: none; position: absolute; z-index: 50 }
.scFormPopupCorner { height: 15px; width: 19px }
.scFormPopupTopLeft { background-image: url(../../img/scriptcase__NM__help_topLeftCorner.png); padding: 0 }
.scFormPopupTop { background-image: url(../../img/scriptcase__NM__help_topLine.png); padding: 0 }
.scFormPopupTopRight { background-image: url(../../img/scriptcase__NM__help_topRightCorner.png); padding: 0 }
.scFormPopupLeft { background-image: url(../../img/scriptcase__NM__help_leftColumn.png); padding: 0 }
.scFormPopupRight { background-image: url(../../img/scriptcase__NM__help_rightColumn.png); padding: 0 }
.scFormPopupBottomLeft { background-image: url(../../img/scriptcase__NM__help_bottomLeftCorner.png); padding: 0 }
.scFormPopupBottom { background-image: url(../../img/scriptcase__NM__help_bottomLine.png); padding: 0; text-align: center }
.scFormPopupBottom img { display: block; margin: 0 auto }
.scFormPopupBottomRight { background-image: url(../../img/scriptcase__NM__help_bottomRightCorner.png); padding: 0 }
.scFormPopupContent { background-color: #FFFFFF; color: #000000; font-family: Arial, sans-serif; font-size: 12px; font-style: normal; text-decoration: none }
.TB_overlayBG { background-color: #6e6e6e }
#TB_window { border-color: #A1AFC1; border-style: solid; border-width: 1px 1px 2px 1px }
.scFormACTable { border-collapse: collapse; border-color: #BBBBBB #A4ADC2 #A4ADC2 #BBBBBB; border-style: solid; border-width: 1px 2px 2px 1px }
.scFormACTitle { background-color: #8AB8DA; border-color: #AAA #AAA #777777 #AAA; border-width: 1px; color: #fff; font-family: Arial, sans-serif; font-size: 12px; padding: 2px 4px; text-decoration: none }
.ac_results { background-color: #FFFFFF; border-collapse: collapse; border-color: #D2D2D2; border-style: solid; border-width: 1px; color: #000000; font-family: Arial, sans-serif; font-size: 12px; overflow: hidden; padding: 0; text-decoration: css_ajaxac_linha_par_text_decoration; z-index: 99999 }
.ac_results ul { list-style: none; list-style-position: outside; margin: 0; padding: 0; width: 100% }
.ac_results li { cursor: default; display: block; margin: 0; overflow: hidden; padding: 2px 5px; line-height: 16px }
.ac_odd { background-color: #EAEDF2; color: #000000; font-family: Arial, sans-serif; font-size: 12px }
.ac_over { background-color: #e2e9f8; color: #000000; font-family: Arial, sans-serif; font-size: 12px }
.ui-dropdownchecklist-text { color: #333333; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
