.scExportPage { background-color: #F0F2F8; background-image: url(../../img/scriptcase__NM__v6blueshow.png); background-repeat: repeat-x }
.scExportTable { background-color: #fff; border-collapse: collapse; border-color: #D2D2D2; border-style: solid; border-width: 1px 1px 1px 1px; height: 100px; width: 410px }
.scExportTitle { background-color: #D0E4FD; background-image: url(../../img/scriptcase__NM__space_blue.jpg); background-repeat: repeat-x; border-color: #D2D2D2; border-width: 1px 1px 1px 1px; color: #333; font-family: Arial, sans-serif; font-size: 12px; font-style: normal; font-weight: bold; padding: 5px; text-align: left; text-decoration: none }
.scExportLine { padding: 3px 10px 3px 10px; vertical-align: middle }
.scExportLineFont { color: #333; font-family: Arial, sans-serif; font-size: 11px; font-style: normal; text-decoration: none }
.scExportBar { border-collapse: collapse; height: 20px }
.scExportBarRest { background-color: #dfdfdf; border-color: #4e4e4e #aaa #aaa #4e4e4e; border-style: solid; border-width: 1px; padding: 0 }
.scExportBarDone { background-color: #1ED3E3; background-image: url(../../img/scriptcase__NM__v6blueshow.png); background-repeat: repeat-x; border-color: #aaa #4e4e4e #4e4e4e #aaa; border-style: solid; border-width: 1px; padding: 0 }
