.scMenuIframe { background-image: url(../../img/scriptcase__NM__v6blueshow.png	); background-repeat: repeat-x; border-width: 0; padding: 3px; width: 100%; height: 100% }
.scMenuHHeader { background-color: #8ba3b9 }
.scMenuHHeaderFont { color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 0; text-decoration: none }
.scMenuHFooter { background-color: #8ba3b9 }
.scMenuHFooterFont { color: #ffffff; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scMenuHItem { font-family: Arial, sans-serif; font-size: 12px; color: #000000; padding: 3px 10px 3px 3px;; text-decoration: none; font-style: normal }
.scMenuHItemDisabled { font-family: Arial, sans-serif; font-size: 12px; color: #C0C0C0; padding: 3px 10px 3px 3px;; text-decoration: none; font-style: normal }
.scMenuHItemOver { background-color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; color: #000000; padding: 3px 10px 3px 3px;; text-decoration: none; font-style: normal }
.scMenuHSubItem { background-color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; color: #000000; padding: 3px 10px 3px 3px; text-decoration: none; font-style: normal }
.scMenuHSubItemDisabled { background-color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; color: #C0C0C0; padding: 3px 10px 3px 3px; text-decoration: none; font-style: normal }
.scMenuHSubItemOver { background-color: #F3F7FB; font-family: Arial, sans-serif; font-size: 12px; color: #000000; padding: 3px 10px 3px 3px; text-decoration: none; font-style: normal }
