.scCalendarPage { background-color: #f5f5f5 }
.scCalendarBorder { background-color: #f5f5f5; border-collapse: collapse; border-color: #D2D2D2; border-style: solid; border-width: 1px; margin: 0 }
.scCalendarBorderPadding { padding: 0 }
.scCalendarToolbar { background-color: #f9f9f9; background-image: url(../../img/scriptcase__NM__v5BlueBgCalendario.png); background-repeat: repeat-x; border-style: none; border-width: 0 }
.scCalendarToolbarPadding { padding: 1px }
.scCalendarInput { border-color: #CCCCCC; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 12px; font-style: normal; text-decoration: none }
.scCalendarTabela { background-color: #f5f5f5; border-collapse: collapse; border-color: #D2D2D2; border-style: solid; border-width: 1px 1px 1px 1px }
.scCalendarWeekday { background-color: #e3e3e3; border-color: #cccccc; border-style: solid; border-width: 0 0 1px 0; color: #000000; font-family: Arial, sans-serif; font-size: 12px; font-style: normal; padding: 1px; text-align: right; text-decoration: none }
.scCalendarMonthday { background-color: #FFFFFF; color: #000000; font-family: Arial, sans-serif; font-size: 12px; font-style: normal; padding: 2px; text-align: right; text-decoration: none }
.scCalendarMonthdayFont { color: #000000; font-family: Arial, sans-serif; font-size: 12px; font-style: normal; text-decoration: none }
.scCalendarSelectedday { background-color: #C4D8F0; border-color: #999; border-style: solid; border-width: 1px; color: #000000; font-family: Arial, sans-serif; font-size: 12px; font-style: normal; padding: 0 3px 0 3px; text-align: center; text-decoration: none }
.ui-datepicker-trigger { vertical-align: middle; margin: 2px }
.ui-datepicker { display: none }
.ui-datepicker .ui-datepicker-header { background-color: #f9f9f9; background-image: url(../../img/scriptcase__NM__v5BlueBgCalendario.png); background-repeat: repeat-x; padding: 0 }
.ui-datepicker .ui-state-default { background-color: #FFFFFF; background-image: none; color: #000000; font-family: Arial, sans-serif; font-size: 12px; font-style: normal; text-align: right; text-decoration: none }
.ui-datepicker .ui-state-active { background-color: #C4D8F0; background-image: none; color: #000000; font-family: Arial, sans-serif; font-size: 12px; font-style: normal; text-align: center; text-decoration: none }
