.scMenuTTable { background-color: #D7E0EF; border-collapse: collapse }
.scMenuTTableM { margin: 10px 2px 10px 2px }
.scMenuIframe { border-style: solid; border-width: 0; border-color: #FFFFFF; border-collapse: collapse; width: 100%; height: 100% }
.scMenuTHeader { background-color: #283B5B; border-collapse: collapse }
.scMenuTHeaderFont { color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 0; text-decoration: none }
.scMenuTFooter { background-color: #8ba3b9; border-collapse: collapse }
.scMenuTFooterFont { color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scMenuTItems { font-family: Arial, sans-serif; font-size: 12px; color: #333; font-weight: bold; font-style: normal; text-decoration: none; white-space: nowrap }
.scMenuTItem { font-family: Arial, sans-serif; font-size: 12px; color: #333; font-weight: bold; font-style: normal; text-decoration: none; white-space: nowrap }
.scMenuTItemSel { color: #333333 }
.scMenuTItemDisabled { color: #C0C0C0 }
.scMenuTSubItemDisabled { color: #C0C0C0 }
.a.phplm:hover { color: #333333 }
.a.phplm:active { color: #333333 }
