@charset "utf-8";
/* CSS Document */
.head
{font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#ffffff; padding:10px 0 10px 50px; font-weight:bold;}
.admin
{font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#ffffff; padding:10px 0 10px 20px; font-weight:bold;}
.text
{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#ffffff; padding:10px 0 10px 40px; font-weight:bold;}

