@charset "utf-8";
/* Ashtalakshmi Creators - Styles */

body{
	margin:0px;
	padding:0px;
	background-color:#7F0000;
}

.font_style, a, p, .outer_table, .black_u_red_link, .footer_td,
.subtitle, .black_subtitle, .textbox, .textbox_focus, .paging_link, .admin_font_style{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#7F0000;
	
}

a:link, a:visited, a:hover{
	color:#F84363;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
	color: #F84363;
}
.admin_menu:link, .admin_menu:visited, a:hover{
	color:#F84363;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
}

.admin_menu:hover{
	text-decoration:underline;
	color: #F84363;
}

.red_link:link,.red_link:visited,.red_link:hover{
	color:#FF0000;
	text-decoration:none;
}

.red_link:hover{
	text-decoration:underline;
	color:#000000;
}
p{
	text-align:justify;
	line-height:16px;
	margin:0px;
	padding:0px;
}

.outer_table{
	width:1000px;
	height:100%;
	background-image:url(page_bg.jpg);
	background-repeat:repeat;
}


.logo_td{
	height:75px;
	padding-left:20px;
}

.header_td{
	width:1000px;
	height:200px;
}

/*.footer_td{
	border-top:1px solid #CCCCCC;
	height:30px;
}*/
.footer_td{
	height:30px;
	background-color:#7F0000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
}
.page_title{
	padding-top:35px;
	color:#F84363;
}

.textbox{
	border:1px solid #d6d6d6;
}
.admin_textbox{
	background-color:#DADA82;
	border:0px;
	padding:2px;
	color:#F84363;
}

.textbox_focus{
	border:1px solid #FF0000;
}

.mandatory{
	color:#FF0000;
	font-size:12px;
}

label{
	cursor:pointer;
}

.button{
	border:1px solid #000000;
	color:#FFFFFF;font-weight:bold;
	background-color:#CC0033;
}

.left_panel_admin{
	border-right:1px solid #CCCCCC;
	padding-left:15px;
	width:180px;
}

.page_title_admin{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#F84363;
}

.report_header{
background-color:#339999;color:#FFFFFF; height:20px; font-weight:bold;
	font-family:Arial, Helvetica, sans-serif; font-size:12px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
}

.report_content{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	color:#000000;
	background-color:#FFFFFF;
	border:1px solid #efefef;
}
.spec_content{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	color:#000000;
	background-color:#FFFFFF;
	/*border:1px solid #efefef;*/
}
.error{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#000000;
	padding:10px;
	border:1px solid #CC0000;
	text-align:center;
}
.wbutton{
	background-color:#FFFFFF;
	border:0px solid #9B2F13;
	color:#000000;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	cursor:pointer;
} 
.form_content{
	border:1px solid #E8E8E8;
	padding:15px;
}
.msg{
     font-family:Verdana,Arial,Helvetica,sans-serif;
	 font-size:12px;
	 font-weight:strong;
	 color:#BF0000;
	 
	 }
.linkwhite_text{
font-family: Arial, Helvetica, sans-serif;
font-size:11px;
font-weight: normal;
text-decoration:none;
line-height:18px;
color:#ffffff;
}
.head_area
{
	font-size:14px;
	color:#F84363;
	font-weight:bolder;
}
.sub_area
{
	font-size:12px;
	color:#F84363;
	font-weight:bold;
}
