.scContainerPage { background-color: #FFFFFF; background-repeat: repeat-x }
.scContainerHeader { background-color: #a6bce8 }
.scContainerHeaderFont { color: #5674b2; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scContainerFooter { background-color: #f5f5f5 }
.scContainerFooterFont { color: #999999; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scContainerWidget { background-color: #93b0e6; border-color: #D2D2D2; border-style: solid; border-width: 1px; margin: 10px 5px }
.scContainerMaximized { background-color: #93b0e6; border-color: #D2D2D2; border-style: solid; border-width: 1px }
.scContainerTitle { color: #000000; font-family: Arial, sans-serif; font-size: 12px; padding: 1px;px Height:20px; text-decoration: none }
.widget-placeholder { border-color: #d0d0d0; border-style: dashed; border-width: 2px; margin: 10px 5px }
.widget-head a.remove { background-image: url(../../img/scriptcase__NM__widget_buttons.gif); background-repeat: no-repeat; background-position: -24px }
.widget-head a.collapse { background-image: url(../../img/scriptcase__NM__widget_buttons.gif); background-repeat: no-repeat; background-position: -52px }
