.scExportPage { background-color: #FFFFFF }
.scExportTable { border-collapse: collapse; border-color: #d0d0d0; border-style: solid; border-width: 1px 1px 1px 1px; height: 100px; width: 410px }
.scExportTitle { background-color: #d54242; border-color: #D2D2D2; border-width: 1px 1px 1px 1px; color: #fff; font-family: Arial, sans-serif; font-size: 12px; font-style: normal; font-weight: bold; padding: 5px; text-align: left; text-decoration: none }
.scExportLine { padding: 3px 10px 3px 10px; vertical-align: middle }
.scExportLineFont { color: #000000; font-family: Arial, sans-serif; font-size: 12px; font-style: normal; text-decoration: none }
.scExportBar { border-collapse: collapse; height: 20px }
.scExportBarRest { background-color: #dfdfdf; background-repeat: repeat-x; border-color: #4e4e4e #aaa #aaa #4e4e4e; border-style: solid; border-width: 1px; padding: 0 }
.scExportBarDone { background-color: #ededed; border-color: #aaa #4e4e4e #4e4e4e #aaa; border-style: solid; border-width: 1px; padding: 0 }
